In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from textwrap import wrap
from matplotlib.lines import Line2D
from matplotlib.offsetbox import OffsetImage, AnnotationBbox

In [2]:
#21년 08월 데이터 로드
df_12 = pd.read_csv('preprocess/2021/Bicycle 2112.csv', encoding = 'cp949', low_memory = False)
#21년 09월 데이터 로드
df_11 = pd.read_csv('preprocess/2021/Bicycle 2111.csv', encoding = 'cp949', low_memory = False)
#08, 09월 데이터 열 병합
df_new = pd.concat([df_11,df_12])

In [3]:
#df_new.to_csv("df_new.csv", mode='w',encoding='cp949')

In [3]:
#info로 각 columns 별 dtype 확인.
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3919752 entries, 0 to 1704296
Data columns (total 11 columns):
 #   Column    Dtype
---  ------    -----
 0   자전거번호     object
 1   대여일시      object
 2   대여 대여소번호  int64
 3   대여 대여소명   object
 4   대여거치대     int64
 5   반납일시      object
 6   반납대여소번호   int64
 7   반납대여소명    object
 8   반납거치대     int64
 9   이용시간      int64
 10  이용거리      float64
dtypes: float64(1), int64(5), object(5)
memory usage: 358.9+ MB

In [4]:
#적재된 메모리 해제를 위한 delete
del df_11
del df_12

In [6]:
#필요한 컬럼만 추출해서 df_new로 대입.
df_new = df_new[['자전거번호', '대여일시','이용시간','이용거리']]

In [7]:
# check dtype
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6865402 entries, 0 to 3645806
Data columns (total 4 columns):
 #   Column  Dtype
---  ------  -----
 0   자전거번호   object
 1   대여일시    object
 2   이용시간    int64
 3   이용거리    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 261.9+ MB

In [8]:
df_new.shape

(6865402, 4)

In [9]:
#고장 데이터셋 로드
df_break = pd.read_csv('seoul_bike_break_2.csv', encoding = 'utf-8')

In [10]:
#df_break = df_break[['자전거번호','등록일시','고장구분',]]

In [11]:
df_break

            자전거번호              등록일시 고장구분
0       SPB-00108   2015-12-04 7:41   체인
1       SPB-00210  2015-12-07 12:23   체인
2       SPB-00035  2015-12-09 17:07  기타
3       SPB-01024  2015-12-13 21:02  기타
4       SPB-01015  2015-12-28 10:12  기타
...           ...               ...  ...
181587  SPB-32255  2020-10-30 23:26   안장
181588  SPB-32255  2020-10-30 23:26   페달
181589  SPB-37980  2020-10-30 23:47   안장
181590  SPB-21980  2020-10-30 23:54   체인
181591  SPB-21980  2020-10-30 23:54   페달

[181592 rows x 3 columns]

In [12]:
'''from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df_break['고장구분'] = le.fit_transform(df_break['고장구분'])
df_break['고장구분']

'''

"from sklearn.preprocessing import LabelEncoder\n\nle = LabelEncoder()\ndf_break['고장구분'] = le.fit_transform(df_break['고장구분'])\ndf_break['고장구분']\n\n"

__자전거번호, 등록일시 두 개의 변수를 이용하여 계산__

In [13]:
#df_break = df_break.sort_values(by=['등록일시'])
cols = ['자전거번호','고장구분','등록일시']

In [14]:
df_break = df_break.sort_values(by=['자전거번호'])

tups = df_break[cols].sort_values(by=cols, ascending=(True, True,True)).apply(tuple, axis=1)
f, i = pd.factorize(tups)
display(tups, f, i)

10160     (SPB-00001, 기타 , 2018-05-17 19:04)
12377     (SPB-00001, 기타 , 2018-06-18 19:49)
14514     (SPB-00001, 기타 , 2018-07-05 20:19)
14575      (SPB-00001, 기타 , 2018-07-06 1:37)
15481      (SPB-00001, 기타 , 2018-07-13 0:15)
                         ...
181510    (SPB-51167, 단말기, 2020-10-30 14:22)
181328    (SPB-51182, 단말기, 2020-10-29 12:13)
181380    (SPB-51425, 기타 , 2020-10-29 17:44)
181290     (SPB-51506, 기타 , 2020-10-29 8:43)
181558    (SPB-51506, 기타 , 2020-10-30 19:29)
Length: 181592, dtype: object

array([     0,      1,      2, ..., 181560, 181561, 181562], dtype=int64)

Index([('SPB-00001', '기타 ', '2018-05-17 19:04'),
       ('SPB-00001', '기타 ', '2018-06-18 19:49'),
       ('SPB-00001', '기타 ', '2018-07-05 20:19'),
        ('SPB-00001', '기타 ', '2018-07-06 1:37'),
        ('SPB-00001', '기타 ', '2018-07-13 0:15'),
        ('SPB-00001', '기타 ', '2018-07-17 8:41'),
       ('SPB-00001', '기타 ', '2018-08-10 17:20'),
        ('SPB-00001', '기타 ', '2018-08-30 2:56'),
       ('SPB-00001', '기타 ', '2018-09-08 23:19'),
       ('SPB-00001', '기타 ', '2019-01-04 18:16'),
       ...
         ('SPB-50796', '안장', '2020-10-27 7:33'),
        ('SPB-50806', '기타 ', '2020-10-25 9:27'),
       ('SPB-50873', '기타 ', '2020-10-25 17:24'),
        ('SPB-50902', '기타 ', '2020-10-24 8:05'),
       ('SPB-51122', '기타 ', '2020-10-30 18:43'),
       ('SPB-51167', '단말기', '2020-10-30 14:22'),
       ('SPB-51182', '단말기', '2020-10-29 12:13'),
       ('SPB-51425', '기타 ', '2020-10-29 17:44'),
        ('SPB-51506', '기타 ', '2020-10-29 8:43'),
       ('SPB-51506', '기타 ', '2020-10-30 19:29')],
      dtype='object', length=181563)

In [15]:
factorized = pd.Series(f + 1, tups.index)
display(factorized)

10160          1
12377          2
14514          3
14575          4
15481          5
           ...
181510    181559
181328    181560
181380    181561
181290    181562
181558    181563
Length: 181592, dtype: int64

In [16]:
df_break['rank'] = factorized
df_break.sort_values(by='rank', ascending=True, inplace = True)

display(df_break)

            자전거번호              등록일시 고장구분    rank
10160   SPB-00001  2018-05-17 19:04  기타        1
12377   SPB-00001  2018-06-18 19:49  기타        2
14514   SPB-00001  2018-07-05 20:19  기타        3
14575   SPB-00001   2018-07-06 1:37  기타        4
15481   SPB-00001   2018-07-13 0:15  기타        5
...           ...               ...  ...     ...
181510  SPB-51167  2020-10-30 14:22  단말기  181559
181328  SPB-51182  2020-10-29 12:13  단말기  181560
181380  SPB-51425  2020-10-29 17:44  기타   181561
181290  SPB-51506   2020-10-29 8:43  기타   181562
181558  SPB-51506  2020-10-30 19:29  기타   181563

[181592 rows x 4 columns]

__rank로 오름차순 정렬하면 성공__

In [17]:
df_break.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181592 entries, 10160 to 181558
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   자전거번호   181592 non-null  object
 1   등록일시    181592 non-null  object
 2   고장구분    181592 non-null  object
 3   rank    181592 non-null  int64
dtypes: int64(1), object(3)
memory usage: 6.9+ MB

In [18]:
df_break['등록일시'] = pd.to_datetime(df_break['등록일시'], format="%Y/%m/%d")

In [19]:
df_break['등록일시'].isna().sum()

0

In [20]:
df_break.groupby(['자전거번호'])

In [21]:
df_break['자전거번호']

10160     SPB-00001
12377     SPB-00001
14514     SPB-00001
14575     SPB-00001
15481     SPB-00001
            ...
181510    SPB-51167
181328    SPB-51182
181380    SPB-51425
181290    SPB-51506
181558    SPB-51506
Name: 자전거번호, Length: 181592, dtype: object

In [22]:
#row 를 shift 해주면서 위, 아래 계산

In [23]:

#df_break['등록일시'] = pd.to_datetime(df_break['등록일시'], format="%Y/%m/%d")

In [24]:
#df_break = df_break['자전거번호'].groupby(df_break['등록일시']).sum()

In [25]:
df_break.head(50)

            자전거번호                등록일시 고장구분  rank
10160   SPB-00001 2018-05-17 19:04:00  기타      1
12377   SPB-00001 2018-06-18 19:49:00  기타      2
14514   SPB-00001 2018-07-05 20:19:00  기타      3
14575   SPB-00001 2018-07-06 01:37:00  기타      4
15481   SPB-00001 2018-07-13 00:15:00  기타      5
16149   SPB-00001 2018-07-17 08:41:00  기타      6
19284   SPB-00001 2018-08-10 17:20:00  기타      7
21698   SPB-00001 2018-08-30 02:56:00  기타      8
23315   SPB-00001 2018-09-08 23:19:00  기타      9
36868   SPB-00001 2019-01-04 18:16:00  기타     10
37521   SPB-00001 2019-01-23 02:17:00  기타     11
39315   SPB-00001 2019-03-01 07:52:00  기타     12
40143   SPB-00001 2019-03-12 15:48:00  기타     13
40893   SPB-00001 2019-03-22 09:07:00  기타     14
44046   SPB-00001 2019-04-17 02:04:00  기타     15
44343   SPB-00001 2019-04-18 15:38:00  기타     16
45707   SPB-00001 2019-04-26 18:39:00  기타     17
49732   SPB-00001 2019-05-12 14:24:00  기타     18
58429   SPB-00001 2019-06-08 22:37:00  기타     19
60409   SPB-00001 2019-06-13 23:16:00  기타     20
64950   SPB-00001 2019-06-26 01:18:00  기타     21
67326   SPB-00001 2019-07-02 15:27:00  기타     22
70072   SPB-00001 2019-07-09 00:38:00  기타     23
72979   SPB-00001 2019-07-17 08:25:00  기타     24
79351   SPB-00001 2019-08-09 04:09:00  기타     25
80835   SPB-00001 2019-08-15 07:00:00  기타     26
81616   SPB-00001 2019-08-18 05:20:00  기타     27
82426   SPB-00001 2019-08-20 06:33:00  기타     28
84595   SPB-00001 2019-08-26 03:48:00  기타     29
88156   SPB-00001 2019-09-03 10:50:00  기타     30
88727   SPB-00001 2019-09-06 17:24:00  기타     31
91907   SPB-00001 2019-09-18 15:03:00  기타     32
91768   SPB-00001 2019-09-18 08:01:00  기타     33
94731   SPB-00001 2019-09-24 19:31:00  기타     34
99155   SPB-00001 2019-10-04 13:06:00  기타     35
99529   SPB-00001 2019-10-05 00:35:00  기타     36
99658   SPB-00001 2019-10-05 13:22:00  기타     37
101663  SPB-00001 2019-10-11 08:22:00  기타     38
103016  SPB-00001 2019-10-14 19:32:00  기타     39
104819  SPB-00001 2019-10-19 05:48:00  기타     40
105590  SPB-00001 2019-10-21 13:23:00  기타     41
107514  SPB-00001 2019-10-26 01:12:00  기타     42
107948  SPB-00001 2019-10-27 20:15:00  기타     43
123331  SPB-00001 2020-03-02 10:17:00  기타     44
10856   SPB-00001 2018-05-28 19:13:00  단말기    45
12376   SPB-00001 2018-06-18 19:49:00  단말기    46
14358   SPB-00001 2018-07-04 19:24:00  단말기    47
18443   SPB-00001 2018-08-03 03:54:00  단말기    48
19600   SPB-00001 2018-08-13 18:56:00  단말기    49
19824   SPB-00001 2018-08-15 03:08:00  단말기    50

In [26]:
df_break

            자전거번호                등록일시 고장구분    rank
10160   SPB-00001 2018-05-17 19:04:00  기타        1
12377   SPB-00001 2018-06-18 19:49:00  기타        2
14514   SPB-00001 2018-07-05 20:19:00  기타        3
14575   SPB-00001 2018-07-06 01:37:00  기타        4
15481   SPB-00001 2018-07-13 00:15:00  기타        5
...           ...                 ...  ...     ...
181510  SPB-51167 2020-10-30 14:22:00  단말기  181559
181328  SPB-51182 2020-10-29 12:13:00  단말기  181560
181380  SPB-51425 2020-10-29 17:44:00  기타   181561
181290  SPB-51506 2020-10-29 08:43:00  기타   181562
181558  SPB-51506 2020-10-30 19:29:00  기타   181563

[181592 rows x 4 columns]

In [27]:
df_break['diff'] = (df_break.등록일시 - df_break.등록일시.shift())

In [28]:
#timedelta to string
df_break['diff'] = df_break['diff'].astype(str)

In [29]:
list = []
list = df_break['자전거번호'].unique()
print(list[1])

SPB-00002

In [30]:
df_break['diff'] = df_break['diff'].str.split(' ').str[0]

In [31]:
df_break.head(50)
#df_break['diff'] = df_break['diff'].astype(int)

            자전거번호                등록일시 고장구분  rank  diff
10160   SPB-00001 2018-05-17 19:04:00  기타      1   NaT
12377   SPB-00001 2018-06-18 19:49:00  기타      2    32
14514   SPB-00001 2018-07-05 20:19:00  기타      3    17
14575   SPB-00001 2018-07-06 01:37:00  기타      4     0
15481   SPB-00001 2018-07-13 00:15:00  기타      5     6
16149   SPB-00001 2018-07-17 08:41:00  기타      6     4
19284   SPB-00001 2018-08-10 17:20:00  기타      7    24
21698   SPB-00001 2018-08-30 02:56:00  기타      8    19
23315   SPB-00001 2018-09-08 23:19:00  기타      9     9
36868   SPB-00001 2019-01-04 18:16:00  기타     10   117
37521   SPB-00001 2019-01-23 02:17:00  기타     11    18
39315   SPB-00001 2019-03-01 07:52:00  기타     12    37
40143   SPB-00001 2019-03-12 15:48:00  기타     13    11
40893   SPB-00001 2019-03-22 09:07:00  기타     14     9
44046   SPB-00001 2019-04-17 02:04:00  기타     15    25
44343   SPB-00001 2019-04-18 15:38:00  기타     16     1
45707   SPB-00001 2019-04-26 18:39:00  기타     17     8
49732   SPB-00001 2019-05-12 14:24:00  기타     18    15
58429   SPB-00001 2019-06-08 22:37:00  기타     19    27
60409   SPB-00001 2019-06-13 23:16:00  기타     20     5
64950   SPB-00001 2019-06-26 01:18:00  기타     21    12
67326   SPB-00001 2019-07-02 15:27:00  기타     22     6
70072   SPB-00001 2019-07-09 00:38:00  기타     23     6
72979   SPB-00001 2019-07-17 08:25:00  기타     24     8
79351   SPB-00001 2019-08-09 04:09:00  기타     25    22
80835   SPB-00001 2019-08-15 07:00:00  기타     26     6
81616   SPB-00001 2019-08-18 05:20:00  기타     27     2
82426   SPB-00001 2019-08-20 06:33:00  기타     28     2
84595   SPB-00001 2019-08-26 03:48:00  기타     29     5
88156   SPB-00001 2019-09-03 10:50:00  기타     30     8
88727   SPB-00001 2019-09-06 17:24:00  기타     31     3
91907   SPB-00001 2019-09-18 15:03:00  기타     32    11
91768   SPB-00001 2019-09-18 08:01:00  기타     33    -1
94731   SPB-00001 2019-09-24 19:31:00  기타     34     6
99155   SPB-00001 2019-10-04 13:06:00  기타     35     9
99529   SPB-00001 2019-10-05 00:35:00  기타     36     0
99658   SPB-00001 2019-10-05 13:22:00  기타     37     0
101663  SPB-00001 2019-10-11 08:22:00  기타     38     5
103016  SPB-00001 2019-10-14 19:32:00  기타     39     3
104819  SPB-00001 2019-10-19 05:48:00  기타     40     4
105590  SPB-00001 2019-10-21 13:23:00  기타     41     2
107514  SPB-00001 2019-10-26 01:12:00  기타     42     4
107948  SPB-00001 2019-10-27 20:15:00  기타     43     1
123331  SPB-00001 2020-03-02 10:17:00  기타     44   126
10856   SPB-00001 2018-05-28 19:13:00  단말기    45  -644
12376   SPB-00001 2018-06-18 19:49:00  단말기    46    21
14358   SPB-00001 2018-07-04 19:24:00  단말기    47    15
18443   SPB-00001 2018-08-03 03:54:00  단말기    48    29
19600   SPB-00001 2018-08-13 18:56:00  단말기    49    10
19824   SPB-00001 2018-08-15 03:08:00  단말기    50     1

In [32]:
df_break.tail(50)
df_break['총_고장'] = 1

In [33]:
#고장구분 column LabelEncoder 작업

In [34]:
#df_break['고장구분'] = 1

In [35]:
df_break['자전거번호'] = df_break['자전거번호'].str.split('-').str[1]
df_new['자전거번호'] = df_new['자전거번호'].str.split('-').str[1]

In [36]:
#t:m:s 날리기 위한 split 작업 후 대입
df_break['등록일시'] = df_break['등록일시'].dt.strftime('%Y/%m/%d')
df_break['등록일시']

10160     2018/05/17
12377     2018/06/18
14514     2018/07/05
14575     2018/07/06
15481     2018/07/13
             ...
181510    2020/10/30
181328    2020/10/29
181380    2020/10/29
181290    2020/10/29
181558    2020/10/30
Name: 등록일시, Length: 181592, dtype: object

In [37]:
df_break

        자전거번호        등록일시 고장구분    rank diff  총_고장
10160   00001  2018/05/17  기타        1  NaT     1
12377   00001  2018/06/18  기타        2   32     1
14514   00001  2018/07/05  기타        3   17     1
14575   00001  2018/07/06  기타        4    0     1
15481   00001  2018/07/13  기타        5    6     1
...       ...         ...  ...     ...  ...   ...
181510  51167  2020/10/30  단말기  181559   -1     1
181328  51182  2020/10/29  단말기  181560   -2     1
181380  51425  2020/10/29  기타   181561    0     1
181290  51506  2020/10/29  기타   181562   -1     1
181558  51506  2020/10/30  기타   181563    1     1

[181592 rows x 6 columns]

In [38]:
# 그룹별 drop_duplicates 필요.
# df_break['등록일시'] = df_break['등록일시'].drop_duplicates()

In [39]:
#df_break.dropna()

In [40]:
df_break = df_break.dropna()

In [41]:
df_break

        자전거번호        등록일시 고장구분    rank diff  총_고장
10160   00001  2018/05/17  기타        1  NaT     1
12377   00001  2018/06/18  기타        2   32     1
14514   00001  2018/07/05  기타        3   17     1
14575   00001  2018/07/06  기타        4    0     1
15481   00001  2018/07/13  기타        5    6     1
...       ...         ...  ...     ...  ...   ...
181510  51167  2020/10/30  단말기  181559   -1     1
181328  51182  2020/10/29  단말기  181560   -2     1
181380  51425  2020/10/29  기타   181561    0     1
181290  51506  2020/10/29  기타   181562   -1     1
181558  51506  2020/10/30  기타   181563    1     1

[181592 rows x 6 columns]

In [42]:
#NaT 결측치를 -99로 대체. (타입 통일 후, 형 변환을 위해)
df_break['diff'] = df_break['diff'].replace(['NaT'], '-99')

In [43]:
#조건문을 위한 타입변경
df_break['diff'] = df_break['diff'].astype(int)

# diff가 0이상인 애들만 따로 저장
diff_positive_num = df_break['diff'] > 0

#조건에 충족되는 값을 df_break에 저장.
df_break = df_break[diff_positive_num & df_break['고장구분'] == 1]
df_break

        자전거번호        등록일시 고장구분    rank  diff  총_고장
12377   00001  2018/06/18  기타        2    32     1
14514   00001  2018/07/05  기타        3    17     1
15481   00001  2018/07/13  기타        5     6     1
16149   00001  2018/07/17  기타        6     4     1
19284   00001  2018/08/10  기타        7    24     1
...       ...         ...  ...     ...   ...   ...
181453  50621  2020/10/30  기타   181549     3     1
181327  50733  2020/10/29  단말기  181552     6     1
180843  50796  2020/10/27   안장  181554     2     1
181544  51122  2020/10/30  기타   181558     6     1
181558  51506  2020/10/30  기타   181563     1     1

[110553 rows x 6 columns]

In [44]:

#df_break.info()

### 현재 요까지 22.3.10 10:33

In [45]:
#자전거번호, 등록일시, dfii 기준그룹화 한 값을
#df_group = df_break.groupby(['자전거번호','등록일시','diff']).sum()
group_col =  ['자전거번호','등록일시','고장구분']
df_group = df_break.groupby(group_col).sum()
#df_group = df_break.groupby(['자전거번호']).sum()

In [46]:
#df_group.groupby(['자전거번호']).get_group('00001')

df_group.head(50)
#df_group['고장구분']
#df_group.reset_index()

                       rank  diff  총_고장
자전거번호 등록일시       고장구분
00001 2018/06/18 기타       2    32     1
                 단말기     46    21     1
                 페달     181    21     1
      2018/06/22 타이어    153     3     1
      2018/06/23 페달     182     4     1
      2018/06/28 안장     110     9     1
                 타이어    154     5     1
      2018/07/04 단말기     47    15     1
      2018/07/05 기타       3    17     1
                 체인     125    17     1
      2018/07/06 타이어    155     8     1
      2018/07/08 타이어    156     2     1
      2018/07/13 기타       5     6     1
      2018/07/14 체인     126     8     1
                 페달     183    21     1
      2018/07/17 기타       6     4     1
      2018/07/21 체인     127     7     1
      2018/07/27 타이어    157    19     1
      2018/08/03 단말기     48    29     1
      2018/08/10 기타       7    24     1
      2018/08/13 단말기     49    10     1
                 타이어    158    16     1
      2018/08/15 단말기     50     1     1
      2018/08/24 단말기     51     9     1
      2018/08/30 기타       8    19     1
                 단말기     52     5     1
      2018/09/04 단말기     53     5     1
      2018/09/05 타이어    160    22     1
      2018/09/07 체인     128    47     1
      2018/09/08 기타       9     9     1
      2018/09/10 단말기     54     6     1
      2018/09/11 단말기     55     1     1
      2018/09/12 타이어    161     7     1
      2018/09/28 타이어    162    15     1
      2018/10/01 안장     111    95     1
      2018/10/03 안장     112     2     1
      2018/10/09 단말기     56    27     1
      2018/10/20 안장     113    16     1
      2018/10/29 체인     129    51     1
      2018/11/04 체인     130     6     1
                 타이어    163    36     1
      2018/11/06 단말기     57    28     1
      2018/11/12 단말기     58     5     1
      2018/11/13 단말기     59     1     1
      2018/11/14 체인     131    10     1
      2019/01/04 기타      10   117     1
      2019/01/10 단말기     60    57     1
      2019/01/16 단말기     61     5     1
      2019/01/23 기타      11    18     1
      2019/02/01 단말기     62    16     1

In [47]:
#df_group['고장구분'].unique()

In [48]:
#df_group['diff2'] = (df_group.등록일시 - df_group.등록일시.shift())

#df_group['고장구분'] = df_group['고장구분'].astype('int64')
df_group.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 110553 entries, ('00001', '2018/06/18', '기타 ') to ('51506', '2020/10/30', '기타 ')
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   rank    110553 non-null  int64
 1   diff    110553 non-null  int32
 2   총_고장    110553 non-null  int64
dtypes: int32(1), int64(2)
memory usage: 2.9+ MB

In [49]:
df_group_reset = df_group.reset_index()

In [50]:
df_group_reset.head(10)

   자전거번호        등록일시  고장구분  rank  diff  총_고장
0  00001  2018/06/18   기타      2    32     1
1  00001  2018/06/18   단말기    46    21     1
2  00001  2018/06/18    페달   181    21     1
3  00001  2018/06/22  타이어    153     3     1
4  00001  2018/06/23    페달   182     4     1
5  00001  2018/06/28    안장   110     9     1
6  00001  2018/06/28  타이어    154     5     1
7  00001  2018/07/04   단말기    47    15     1
8  00001  2018/07/05   기타      3    17     1
9  00001  2018/07/05    체인   125    17     1

In [51]:
df_group_reset.tail(10)

        자전거번호        등록일시 고장구분    rank  diff  총_고장
110543  50400  2020/10/26  기타   181536     1     1
110544  50437  2020/10/27   페달  181537     1     1
110545  50458  2020/10/28   안장  181538     1     1
110546  50472  2020/10/25  단말기  181540     1     1
110547  50504  2020/10/28  기타   181545     2     1
110548  50621  2020/10/30  기타   181549     3     1
110549  50733  2020/10/29  단말기  181552     6     1
110550  50796  2020/10/27   안장  181554     2     1
110551  51122  2020/10/30  기타   181558     6     1
110552  51506  2020/10/30  기타   181563     1     1

In [52]:
#df_group_reset.transpose()
#df_group.size()

In [53]:
df_group_new = df_group

In [54]:
df_group_new

                         rank  diff  총_고장
자전거번호 등록일시       고장구분
00001 2018/06/18 기타         2    32     1
                 단말기       46    21     1
                 페달       181    21     1
      2018/06/22 타이어      153     3     1
      2018/06/23 페달       182     4     1
...                       ...   ...   ...
50621 2020/10/30 기타    181549     3     1
50733 2020/10/29 단말기   181552     6     1
50796 2020/10/27 안장    181554     2     1
51122 2020/10/30 기타    181558     6     1
51506 2020/10/30 기타    181563     1     1

[110553 rows x 3 columns]

In [55]:
temp_year_condition = df_break['등록일시']>='2021-01-01'
bike_number_condition = df_break['자전거번호']=='00001'

temp = df_break[bike_number_condition&temp_year_condition].reset_index(drop=True)

print(len(temp))

temp_dict = {'자전거번호':[], '등록일시':[], '총이용시간':[], '총이용거리':[]}



# temp.iloc[6, 1]

0

In [56]:
df_group

                         rank  diff  총_고장
자전거번호 등록일시       고장구분
00001 2018/06/18 기타         2    32     1
                 단말기       46    21     1
                 페달       181    21     1
      2018/06/22 타이어      153     3     1
      2018/06/23 페달       182     4     1
...                       ...   ...   ...
50621 2020/10/30 기타    181549     3     1
50733 2020/10/29 단말기   181552     6     1
50796 2020/10/27 안장    181554     2     1
51122 2020/10/30 기타    181558     6     1
51506 2020/10/30 기타    181563     1     1

[110553 rows x 3 columns]

In [57]:
df_break_heetaek = df_break.assign(등록일시2=df_break.groupby(['자전거번호','고장구분']).등록일시.shift(-1)).fillna({'등록일시2': df_break.등록일시})

In [58]:
df_break_heetaek

        자전거번호        등록일시 고장구분    rank  diff  총_고장       등록일시2
12377   00001  2018/06/18  기타        2    32     1  2018/07/05
14514   00001  2018/07/05  기타        3    17     1  2018/07/13
15481   00001  2018/07/13  기타        5     6     1  2018/07/17
16149   00001  2018/07/17  기타        6     4     1  2018/08/10
19284   00001  2018/08/10  기타        7    24     1  2018/08/30
...       ...         ...  ...     ...   ...   ...         ...
181453  50621  2020/10/30  기타   181549     3     1  2020/10/30
181327  50733  2020/10/29  단말기  181552     6     1  2020/10/29
180843  50796  2020/10/27   안장  181554     2     1  2020/10/27
181544  51122  2020/10/30  기타   181558     6     1  2020/10/30
181558  51506  2020/10/30  기타   181563     1     1  2020/10/30

[110553 rows x 7 columns]

In [59]:
df_break_heetaek.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110553 entries, 12377 to 181558
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   자전거번호   110553 non-null  object
 1   등록일시    110553 non-null  object
 2   고장구분    110553 non-null  object
 3   rank    110553 non-null  int64
 4   diff    110553 non-null  int32
 5   총_고장    110553 non-null  int64
 6   등록일시2   110553 non-null  object
dtypes: int32(1), int64(2), object(4)
memory usage: 6.3+ MB

In [60]:
df_break_heetaek['등록일시'] = pd.to_datetime(df_break_heetaek['등록일시'], format="%Y/%m/%d")
df_break_heetaek['등록일시2'] = pd.to_datetime(df_break_heetaek['등록일시2'], format="%Y/%m/%d")
df_break_heetaek

        자전거번호       등록일시 고장구분    rank  diff  총_고장      등록일시2
12377   00001 2018-06-18  기타        2    32     1 2018-07-05
14514   00001 2018-07-05  기타        3    17     1 2018-07-13
15481   00001 2018-07-13  기타        5     6     1 2018-07-17
16149   00001 2018-07-17  기타        6     4     1 2018-08-10
19284   00001 2018-08-10  기타        7    24     1 2018-08-30
...       ...        ...  ...     ...   ...   ...        ...
181453  50621 2020-10-30  기타   181549     3     1 2020-10-30
181327  50733 2020-10-29  단말기  181552     6     1 2020-10-29
180843  50796 2020-10-27   안장  181554     2     1 2020-10-27
181544  51122 2020-10-30  기타   181558     6     1 2020-10-30
181558  51506 2020-10-30  기타   181563     1     1 2020-10-30

[110553 rows x 7 columns]

In [61]:
#차이값 발생
df_break_heetaek['heetaek_diff'] = df_break_heetaek['등록일시2'] - df_break_heetaek['등록일시']

In [62]:
df_break_heetaek.tail(50)

        자전거번호       등록일시  고장구분    rank  diff  총_고장      등록일시2 heetaek_diff
180787  44799 2020-10-26    페달  181457    32     1 2020-10-26       0 days
178225  44802 2020-10-14   기타   181459    18     1 2020-10-14       0 days
180870  44804 2020-10-27    안장  181461    12     1 2020-10-27       0 days
178009  44807 2020-10-13    안장  181463    15     1 2020-10-13       0 days
177134  44809 2020-10-10  타이어   181465    15     1 2020-10-10       0 days
178252  44811 2020-10-14   기타   181466     4     1 2020-10-17       3 days
178853  44811 2020-10-17   기타   181467     2     1 2020-10-17       0 days
175859  44812 2020-10-05   기타   181469    12     1 2020-10-14       9 days
178136  44812 2020-10-14   기타   181470     8     1 2020-10-14       0 days
178056  44823 2020-10-13   기타   181472     7     1 2020-10-13       0 days
180287  44824 2020-10-23   기타   181474    30     1 2020-10-23       0 days
180943  44825 2020-10-27  타이어   181476    23     1 2020-10-27       0 days
180543  44829 2020-10-25   기타   181478    21     1 2020-10-25       0 days
180886  44829 2020-10-27    페달  181479     1     1 2020-10-27       0 days
179270  44831 2020-10-19   기타   181481    17     1 2020-10-19       0 days
178446  44835 2020-10-15   기타   181483     9     1 2020-10-28      13 days
181092  44835 2020-10-28   기타   181484    12     1 2020-10-28       0 days
175888  44836 2020-10-05   기타   181487     7     1 2020-10-05       0 days
179630  44837 2020-10-20   기타   181488    15     1 2020-10-20       0 days
181449  44840 2020-10-30   기타   181489     9     1 2020-10-30       0 days
176334  44842 2020-10-07    안장  181491     4     1 2020-10-07       0 days
177572  44845 2020-10-11   단말기  181492     4     1 2020-10-11       0 days
180033  44847 2020-10-22    체인  181493    10     1 2020-10-22       0 days
181181  50014 2020-10-28    안장  181494     5     1 2020-10-28       0 days
180301  50050 2020-10-24   기타   181497     4     1 2020-10-24       0 days
180984  50051 2020-10-27   기타   181498     3     1 2020-10-27       0 days
180407  50063 2020-10-24    안장  181500     6     1 2020-10-24       0 days
181581  50070 2020-10-30    안장  181501     6     1 2020-10-30       0 days
181056  50101 2020-10-28    체인  181504    11     1 2020-10-28       0 days
181476  50113 2020-10-30    체인  181508     9     1 2020-10-30       0 days
179811  50131 2020-10-21   단말기  181511     1     1 2020-10-21       0 days
181501  50132 2020-10-30    안장  181512     8     1 2020-10-30       0 days
181004  50163 2020-10-27   기타   181515    12     1 2020-10-27       0 days
181146  50222 2020-10-28    체인  181519     9     1 2020-10-28       0 days
180959  50246 2020-10-27    안장  181524     7     1 2020-10-27       0 days
179581  50277 2020-10-20   기타   181526     2     1 2020-10-20       0 days
181415  50310 2020-10-29   기타   181528    11     1 2020-10-29       0 days
179071  50381 2020-10-18   단말기  181531     1     1 2020-10-18       0 days
180823  50386 2020-10-26    체인  181532     8     1 2020-10-26       0 days
180433  50397 2020-10-24    안장  181535     2     1 2020-10-24       0 days
180613  50400 2020-10-26   기타   181536     1     1 2020-10-26       0 days
180882  50437 2020-10-27    페달  181537     1     1 2020-10-27       0 days
181114  50458 2020-10-28    안장  181538     1     1 2020-10-28       0 days
180561  50472 2020-10-25   단말기  181540     1     1 2020-10-25       0 days
181219  50504 2020-10-28   기타   181545     2     1 2020-10-28       0 days
181453  50621 2020-10-30   기타   181549     3     1 2020-10-30       0 days
181327  50733 2020-10-29   단말기  181552     6     1 2020-10-29       0 days
180843  50796 2020-10-27    안장  181554     2     1 2020-10-27       0 days
181544  51122 2020-10-30   기타   181558     6     1 2020-10-30       0 days
181558  51506 2020-10-30   기타   181563     1     1 2020-10-30       0 days

In [63]:
#diff값 split 적용을 위해 str로 타입변경
df_break_heetaek['heetaek_diff'] = df_break_heetaek['heetaek_diff'].astype('str')

In [64]:
df_break_heetaek.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110553 entries, 12377 to 181558
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   자전거번호         110553 non-null  object
 1   등록일시          110553 non-null  datetime64[ns]
 2   고장구분          110553 non-null  object
 3   rank          110553 non-null  int64
 4   diff          110553 non-null  int32
 5   총_고장          110553 non-null  int64
 6   등록일시2         110553 non-null  datetime64[ns]
 7   heetaek_diff  110553 non-null  object
dtypes: datetime64[ns](2), int32(1), int64(2), object(3)
memory usage: 7.2+ MB

In [65]:
#split 실행 후, int형 변환
df_break_heetaek['heetaek_diff'] = df_break_heetaek['heetaek_diff'].str.split(' ').str[0]
df_break_heetaek['heetaek_diff'] = df_break_heetaek['heetaek_diff'].astype('int64')

In [66]:
df_break_heetaek.head(50)

        자전거번호       등록일시 고장구분  rank  diff  총_고장      등록일시2  heetaek_diff
12377   00001 2018-06-18  기타      2    32     1 2018-07-05            17
14514   00001 2018-07-05  기타      3    17     1 2018-07-13             8
15481   00001 2018-07-13  기타      5     6     1 2018-07-17             4
16149   00001 2018-07-17  기타      6     4     1 2018-08-10            24
19284   00001 2018-08-10  기타      7    24     1 2018-08-30            20
21698   00001 2018-08-30  기타      8    19     1 2018-09-08             9
23315   00001 2018-09-08  기타      9     9     1 2019-01-04           118
36868   00001 2019-01-04  기타     10   117     1 2019-01-23            19
37521   00001 2019-01-23  기타     11    18     1 2019-03-01            37
39315   00001 2019-03-01  기타     12    37     1 2019-03-12            11
40143   00001 2019-03-12  기타     13    11     1 2019-03-22            10
40893   00001 2019-03-22  기타     14     9     1 2019-04-17            26
44046   00001 2019-04-17  기타     15    25     1 2019-04-18             1
44343   00001 2019-04-18  기타     16     1     1 2019-04-26             8
45707   00001 2019-04-26  기타     17     8     1 2019-05-12            16
49732   00001 2019-05-12  기타     18    15     1 2019-06-08            27
58429   00001 2019-06-08  기타     19    27     1 2019-06-13             5
60409   00001 2019-06-13  기타     20     5     1 2019-06-26            13
64950   00001 2019-06-26  기타     21    12     1 2019-07-02             6
67326   00001 2019-07-02  기타     22     6     1 2019-07-09             7
70072   00001 2019-07-09  기타     23     6     1 2019-07-17             8
72979   00001 2019-07-17  기타     24     8     1 2019-08-09            23
79351   00001 2019-08-09  기타     25    22     1 2019-08-15             6
80835   00001 2019-08-15  기타     26     6     1 2019-08-18             3
81616   00001 2019-08-18  기타     27     2     1 2019-08-20             2
82426   00001 2019-08-20  기타     28     2     1 2019-08-26             6
84595   00001 2019-08-26  기타     29     5     1 2019-09-03             8
88156   00001 2019-09-03  기타     30     8     1 2019-09-06             3
88727   00001 2019-09-06  기타     31     3     1 2019-09-18            12
91907   00001 2019-09-18  기타     32    11     1 2019-09-24             6
94731   00001 2019-09-24  기타     34     6     1 2019-10-04            10
99155   00001 2019-10-04  기타     35     9     1 2019-10-11             7
101663  00001 2019-10-11  기타     38     5     1 2019-10-14             3
103016  00001 2019-10-14  기타     39     3     1 2019-10-19             5
104819  00001 2019-10-19  기타     40     4     1 2019-10-21             2
105590  00001 2019-10-21  기타     41     2     1 2019-10-26             5
107514  00001 2019-10-26  기타     42     4     1 2019-10-27             1
107948  00001 2019-10-27  기타     43     1     1 2020-03-02           127
123331  00001 2020-03-02  기타     44   126     1 2020-03-02             0
12376   00001 2018-06-18  단말기    46    21     1 2018-07-04            16
14358   00001 2018-07-04  단말기    47    15     1 2018-08-03            30
18443   00001 2018-08-03  단말기    48    29     1 2018-08-13            10
19600   00001 2018-08-13  단말기    49    10     1 2018-08-15             2
19824   00001 2018-08-15  단말기    50     1     1 2018-08-24             9
21232   00001 2018-08-24  단말기    51     9     1 2018-08-30             6
21697   00001 2018-08-30  단말기    52     5     1 2018-09-04             5
22351   00001 2018-09-04  단말기    53     5     1 2018-09-10             6
23568   00001 2018-09-10  단말기    54     6     1 2018-09-11             1
23839   00001 2018-09-11  단말기    55     1     1 2018-10-09            28
28609   00001 2018-10-09  단말기    56    27     1 2018-11-06            28

In [67]:
#df_break['자전거번호'] = df_break['자전거번호'].str.split(' ').str[0]
df_break = df_break_heetaek

df_break.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110553 entries, 12377 to 181558
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   자전거번호         110553 non-null  object
 1   등록일시          110553 non-null  datetime64[ns]
 2   고장구분          110553 non-null  object
 3   rank          110553 non-null  int64
 4   diff          110553 non-null  int32
 5   총_고장          110553 non-null  int64
 6   등록일시2         110553 non-null  datetime64[ns]
 7   heetaek_diff  110553 non-null  int64
dtypes: datetime64[ns](2), int32(1), int64(3), object(2)
memory usage: 7.2+ MB

In [68]:
df_break = df_break[['자전거번호','등록일시','고장구분','총_고장','heetaek_diff']]

In [69]:
df_break.head()

       자전거번호       등록일시 고장구분  총_고장  heetaek_diff
12377  00001 2018-06-18  기타      1            17
14514  00001 2018-07-05  기타      1             8
15481  00001 2018-07-13  기타      1             4
16149  00001 2018-07-17  기타      1            24
19284  00001 2018-08-10  기타      1            20

In [70]:
df_break.tail()

        자전거번호       등록일시 고장구분  총_고장  heetaek_diff
181453  50621 2020-10-30  기타      1             0
181327  50733 2020-10-29  단말기     1             0
180843  50796 2020-10-27   안장     1             0
181544  51122 2020-10-30  기타      1             0
181558  51506 2020-10-30  기타      1             0

In [71]:
bike_number_list = []
bike_number_list = df_break['자전거번호'].unique()
bike_number_list = bike_number_list.tolist()

In [72]:
bike_number_list

['00001',
 '00002',
 '00003',
 '00004',
 '00005',
 '00006',
 '00007',
 '00008',
 '00009',
 '00010',
 '00011',
 '00012',
 '00013',
 '00014',
 '00015',
 '00016',
 '00017',
 '00018',
 '00019',
 '00020',
 '00021',
 '00022',
 '00023',
 '00024',
 '00025',
 '00027',
 '00028',
 '00029',
 '00032',
 '00033',
 '00035',
 '00036',
 '00038',
 '00039',
 '00040',
 '00043',
 '00044',
 '00046',
 '00047',
 '00050',
 '00051',
 '00053',
 '00054',
 '00055',
 '00056',
 '00058',
 '00059',
 '00060',
 '00061',
 '00065',
 '00066',
 '00067',
 '00068',
 '00069',
 '00070',
 '00071',
 '00072',
 '00073',
 '00074',
 '00077',
 '00080',
 '00082',
 '00084',
 '00086',
 '00087',
 '00090',
 '00091',
 '00093',
 '00094',
 '00095',
 '00098',
 '00100',
 '00101',
 '00102',
 '00103',
 '00104',
 '00106',
 '00107',
 '00108',
 '00110',
 '00111',
 '00112',
 '00113',
 '00115',
 '00117',
 '00119',
 '00120',
 '00121',
 '00122',
 '00123',
 '00124',
 '00126',
 '00127',
 '00128',
 '00130',
 '00131',
 '00132',
 '00133',
 '00135',
 '00138',
 '00140',
 '00141',
 '00143',
 '00144',
 '00145',
 '00146',
 '00147',
 '00149',
 '00150',
 '00151',
 '00152',
 '00153',
 '00154',
 '00156',
 '00157',
 '00158',
 '00160',
 '00161',
 '00162',
 '00163',
 '00164',
 '00165',
 '00166',
 '00167',
 '00168',
 '00171',
 '00172',
 '00173',
 '00174',
 '00178',
 '00179',
 '00180',
 '00182',
 '00183',
 '00185',
 '00187',
 '00190',
 '00191',
 '00192',
 '00193',
 '00194',
 '00197',
 '00199',
 '00201',
 '00203',
 '00204',
 '00208',
 '00210',
 '00211',
 '00212',
 '00213',
 '00214',
 '00216',
 '00217',
 '00218',
 '00219',
 '00220',
 '00221',
 '00222',
 '00224',
 '00225',
 '00226',
 '00228',
 '00231',
 '00232',
 '00233',
 '00234',
 '00235',
 '00236',
 '00239',
 '00241',
 '00242',
 '00243',
 '00244',
 '00245',
 '00247',
 '00250',
 '00252',
 '00255',
 '00256',
 '00258',
 '00260',
 '00261',
 '00262',
 '00263',
 '00265',
 '00266',
 '00267',
 '00268',
 '00270',
 '00273',
 '00274',
 '00275',
 '00276',
 '00277',
 '00278',
 '00279',
 '00280',
 '00284',
 '00285',
 '00286',
 '00290',
 '00291',
 '00294',
 '00295',
 '00300',
 '00302',
 '00303',
 '00304',
 '00305',
 '00306',
 '00310',
 '00311',
 '00312',
 '00313',
 '00315',
 '00320',
 '00321',
 '00322',
 '00323',
 '00324',
 '00325',
 '00328',
 '00333',
 '00334',
 '00338',
 '00344',
 '00345',
 '00346',
 '00347',
 '00348',
 '00349',
 '00352',
 '00354',
 '00357',
 '00358',
 '00360',
 '00361',
 '00363',
 '00364',
 '00365',
 '00367',
 '00368',
 '00369',
 '00370',
 '00372',
 '00373',
 '00379',
 '00380',
 '00382',
 '00383',
 '00384',
 '00385',
 '00387',
 '00389',
 '00395',
 '00397',
 '00399',
 '00401',
 '00402',
 '00403',
 '00405',
 '00406',
 '00409',
 '00410',
 '00411',
 '00412',
 '00414',
 '00417',
 '00418',
 '00420',
 '00424',
 '00425',
 '00428',
 '00430',
 '00432',
 '00434',
 '00435',
 '00437',
 '00438',
 '00440',
 '00442',
 '00444',
 '00446',
 '00447',
 '00448',
 '00450',
 '00451',
 '00453',
 '00454',
 '00455',
 '00456',
 '00457',
 '00459',
 '00461',
 '00463',
 '00465',
 '00466',
 '00468',
 '00469',
 '00470',
 '00471',
 '00472',
 '00473',
 '00478',
 '00481',
 '00482',
 '00483',
 '00484',
 '00485',
 '00486',
 '00487',
 '00490',
 '00491',
 '00493',
 '00494',
 '00496',
 '00499',
 '00502',
 '00503',
 '00504',
 '00505',
 '00507',
 '00511',
 '00512',
 '00513',
 '00516',
 '00519',
 '00522',
 '00525',
 '00527',
 '00529',
 '00531',
 '00533',
 '00534',
 '00535',
 '00537',
 '00539',
 '00540',
 '00543',
 '00544',
 '00545',
 '00549',
 '00551',
 '00553',
 '00554',
 '00555',
 '00556',
 '00557',
 '00558',
 '00561',
 '00562',
 '00563',
 '00565',
 '00567',
 '00568',
 '00570',
 '00571',
 '00572',
 '00573',
 '00576',
 '00579',
 '00580',
 '00581',
 '00583',
 '00584',
 '00586',
 '00587',
 '00589',
 '00590',
 '00591',
 '00592',
 '00593',
 '00594',
 '00597',
 '00599',
 '00601',
 '00602',
 '00603',
 '00604',
 '00606',
 '00608',
 '00609',
 '00610',
 '00611',
 '00612',
 '00614',
 '00615',
 '00616',
 '00618',
 '00620',
 '00622',
 '00623',
 '00625',
 '00626',
 '00627',
 '00628',
 '00629',
 '00631',
 '00632',
 '00633',
 '00634',
 '00635',
 '00636',
 '00637',
 '00638',
 '00639',
 '00640',
 '00642',
 '00643',
 '00648',
 '00649',
 '00650',
 '00652',
 '00654',
 '00655',
 '00656',
 '00658',
 '00659',
 '00660',
 '00661',
 '00662',
 '00663',
 '00666',
 '00669',
 '00670',
 '00671',
 '00672',
 '00675',
 '00677',
 '00678',
 '00679',
 '00680',
 '00683',
 '00684',
 '00689',
 '00690',
 '00691',
 '00692',
 '00694',
 '00695',
 '00696',
 '00698',
 '00699',
 '00700',
 '00703',
 '00707',
 '00708',
 '00709',
 '00712',
 '00713',
 '00714',
 '00715',
 '00716',
 '00717',
 '00718',
 '00719',
 '00720',
 '00721',
 '00722',
 '00723',
 '00724',
 '00726',
 '00728',
 '00729',
 '00730',
 '00732',
 '00735',
 '00736',
 '00737',
 '00741',
 '00742',
 '00744',
 '00746',
 '00747',
 '00748',
 '00749',
 '00750',
 '00751',
 '00754',
 '00755',
 '00756',
 '00757',
 '00759',
 '00760',
 '00761',
 '00762',
 '00765',
 '00767',
 '00769',
 '00770',
 '00772',
 '00774',
 '00776',
 '00777',
 '00778',
 '00781',
 '00782',
 '00783',
 '00785',
 '00787',
 '00788',
 '00789',
 '00790',
 '00791',
 '00792',
 '00794',
 '00795',
 '00797',
 '00798',
 '00799',
 '00801',
 '00803',
 '00805',
 '00807',
 '00810',
 '00811',
 '00813',
 '00814',
 '00815',
 '00817',
 '00818',
 '00819',
 '00820',
 '00822',
 '00824',
 '00825',
 '00826',
 '00828',
 '00829',
 '00830',
 '00831',
 '00832',
 '00834',
 '00836',
 '00837',
 '00838',
 '00839',
 '00840',
 '00841',
 '00842',
 '00843',
 '00844',
 '00845',
 '00846',
 '00847',
 '00849',
 '00851',
 '00852',
 '00854',
 '00855',
 '00856',
 '00857',
 '00861',
 '00863',
 '00865',
 '00866',
 '00868',
 '00869',
 '00872',
 '00874',
 '00875',
 '00876',
 '00878',
 '00881',
 '00882',
 '00886',
 '00887',
 '00888',
 '00891',
 '00892',
 '00893',
 '00894',
 '00895',
 '00896',
 '00897',
 '00898',
 '00900',
 '00904',
 '00905',
 '00910',
 '00912',
 '00914',
 '00915',
 '00916',
 '00918',
 '00919',
 '00920',
 '00922',
 '00924',
 '00925',
 '00927',
 '00928',
 '00931',
 '00932',
 '00934',
 '00935',
 '00937',
 '00938',
 '00940',
 '00942',
 '00944',
 '00945',
 '00946',
 '00947',
 '00950',
 '00951',
 '00953',
 '00954',
 '00956',
 '00957',
 '00958',
 '00959',
 '00960',
 '00961',
 '00962',
 '00964',
 '00966',
 '00967',
 '00968',
 '00969',
 '00970',
 '00971',
 '00972',
 '00973',
 '00975',
 '00976',
 '00977',
 '00978',
 '00981',
 '00982',
 '00984',
 '00989',
 '00990',
 '00992',
 '00996',
 '00997',
 '00999',
 '01000',
 '01001',
 '01002',
 '01003',
 '01007',
 '01008',
 '01009',
 '01010',
 '01011',
 '01012',
 '01014',
 '01015',
 '01017',
 '01018',
 '01020',
 '01021',
 '01022',
 '01023',
 '01024',
 '01025',
 '01026',
 '01027',
 '01028',
 '01029',
 '01031',
 '01033',
 '01034',
 '01037',
 '01038',
 '01039',
 '01040',
 '01043',
 '01047',
 '01049',
 '01052',
 '01053',
 '01057',
 '01058',
 '01060',
 '01061',
 '01062',
 '01064',
 '01065',
 '01066',
 '01069',
 '01073',
 '01074',
 '01075',
 '01077',
 '01079',
 '01080',
 '01082',
 '01083',
 '01086',
 '01087',
 '01089',
 '01090',
 '01093',
 '01094',
 '01096',
 '01098',
 '01101',
 '01103',
 '01107',
 '01109',
 '01110',
 '01111',
 '01112',
 '01113',
 '01114',
 '01116',
 '01119',
 '01120',
 '01121',
 '01122',
 '01123',
 '01124',
 '01130',
 '01132',
 '01133',
 '01134',
 '01135',
 '01137',
 '01139',
 '01140',
 '01141',
 '01143',
 '01146',
 '01149',
 '01151',
 '01152',
 '01153',
 '01154',
 '01156',
 '01158',
 '01160',
 '01161',
 '01163',
 '01164',
 '01166',
 '01168',
 '01169',
 '01170',
 '01175',
 '01177',
 '01178',
 '01180',
 '01181',
 '01182',
 '01184',
 '01185',
 '01186',
 '01190',
 '01191',
 '01192',
 '01195',
 '01197',
 '01198',
 '01199',
 '01201',
 '01202',
 '01204',
 '01205',
 '01206',
 '01208',
 '01209',
 '01210',
 '01213',
 '01214',
 '01216',
 '01218',
 '01220',
 '01221',
 '01222',
 '01223',
 '01224',
 '01227',
 '01229',
 '01230',
 '01231',
 '01232',
 '01233',
 '01234',
 '01235',
 '01236',
 '01240',
 '01241',
 '01242',
 '01244',
 '01245',
 '01246',
 '01247',
 '01248',
 '01252',
 '01254',
 '01255',
 '01256',
 '01257',
 '01259',
 '01260',
 '01261',
 '01262',
 '01264',
 '01265',
 '01268',
 '01269',
 '01272',
 '01273',
 '01274',
 '01276',
 '01277',
 '01278',
 '01279',
 '01282',
 '01283',
 '01284',
 '01285',
 '01286',
 '01289',
 '01290',
 '01291',
 '01292',
 '01293',
 '01296',
 '01297',
 '01298',
 '01299',
 '01300',
 '01301',
 '01302',
 '01303',
 '01305',
 '01306',
 '01307',
 '01309',
 '01310',
 '01311',
 '01313',
 '01317',
 '01320',
 '01321',
 '01323',
 '01324',
 '01325',
 '01326',
 '01329',
 '01330',
 '01331',
 '01333',
 '01336',
 '01337',
 '01338',
 '01339',
 '01340',
 '01341',
 '01343',
 '01344',
 '01345',
 '01346',
 '01347',
 '01348',
 '01350',
 '01351',
 '01352',
 '01353',
 '01354',
 '01355',
 '01356',
 '01357',
 '01358',
 '01363',
 '01365',
 '01366',
 '01367',
 '01368',
 '01370',
 '01371',
 '01372',
 '01374',
 '01376',
 '01377',
 '01378',
 '01381',
 '01382',
 '01385',
 '01386',
 '01387',
 '01389',
 '01392',
 '01396',
 '01398',
 '01399',
 '01400',
 '01401',
 '01402',
 '01405',
 '01407',
 '01409',
 '01410',
 '01411',
 '01412',
 '01413',
 '01416',
 '01418',
 '01419',
 '01420',
 '01421',
 '01422',
 '01423',
 '01424',
 '01425',
 '01426',
 '01427',
 '01429',
 '01432',
 '01433',
 '01434',
 '01435',
 '01436',
 '01438',
 '01439',
 '01440',
 '01442',
 '01444',
 '01445',
 '01446',
 '01447',
 '01450',
 '01451',
 '01453',
 '01455',
 '01456',
 '01459',
 '01461',
 '01464',
 '01465',
 '01466',
 '01471',
 '01472',
 '01476',
 '01479',
 '01480',
 '01481',
 '01482',
 '01483',
 '01484',
 '01485',
 '01486',
 '01487',
 '01489',
 '01490',
 '01491',
 '01492',
 '01493',
 '01499',
 '01501',
 '01502',
 '01503',
 '01504',
 '01506',
 '01507',
 '01508',
 '01511',
 '01517',
 '01518',
 '01520',
 '01522',
 '01523',
 '01524',
 '01525',
 '01530',
 '01531',
 '01535',
 '01536',
 '01539',
 '01541',
 '01542',
 '01543',
 '01545',
 '01546',
 '01547',
 '01551',
 '01552',
 '01553',
 '01554',
 '01556',
 '01557',
 '01558',
 '01559',
 '01560',
 '01561',
 '01563',
 '01564',
 '01565',
 '01568',
 '01569',
 '01570',
 '01571',
 '01572',
 '01576',
 '01577',
 '01578',
 ...]

In [73]:
len(bike_number_list)

29775

In [74]:
cols_break = ['자전거번호','고장구분']

In [75]:
df_break['기간과_기관사이_총_고장횟수'] = df_break.groupby(cols_break)['총_고장'].apply(lambda x: x.cumsum())
#no_cumulative == 자전거번호 및 고장구분에 따른 고장횟수.

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [76]:
df_break.head(50)

        자전거번호       등록일시 고장구분  총_고장  heetaek_diff  기간과_기관사이_총_고장횟수
12377   00001 2018-06-18  기타      1            17                1
14514   00001 2018-07-05  기타      1             8                2
15481   00001 2018-07-13  기타      1             4                3
16149   00001 2018-07-17  기타      1            24                4
19284   00001 2018-08-10  기타      1            20                5
21698   00001 2018-08-30  기타      1             9                6
23315   00001 2018-09-08  기타      1           118                7
36868   00001 2019-01-04  기타      1            19                8
37521   00001 2019-01-23  기타      1            37                9
39315   00001 2019-03-01  기타      1            11               10
40143   00001 2019-03-12  기타      1            10               11
40893   00001 2019-03-22  기타      1            26               12
44046   00001 2019-04-17  기타      1             1               13
44343   00001 2019-04-18  기타      1             8               14
45707   00001 2019-04-26  기타      1            16               15
49732   00001 2019-05-12  기타      1            27               16
58429   00001 2019-06-08  기타      1             5               17
60409   00001 2019-06-13  기타      1            13               18
64950   00001 2019-06-26  기타      1             6               19
67326   00001 2019-07-02  기타      1             7               20
70072   00001 2019-07-09  기타      1             8               21
72979   00001 2019-07-17  기타      1            23               22
79351   00001 2019-08-09  기타      1             6               23
80835   00001 2019-08-15  기타      1             3               24
81616   00001 2019-08-18  기타      1             2               25
82426   00001 2019-08-20  기타      1             6               26
84595   00001 2019-08-26  기타      1             8               27
88156   00001 2019-09-03  기타      1             3               28
88727   00001 2019-09-06  기타      1            12               29
91907   00001 2019-09-18  기타      1             6               30
94731   00001 2019-09-24  기타      1            10               31
99155   00001 2019-10-04  기타      1             7               32
101663  00001 2019-10-11  기타      1             3               33
103016  00001 2019-10-14  기타      1             5               34
104819  00001 2019-10-19  기타      1             2               35
105590  00001 2019-10-21  기타      1             5               36
107514  00001 2019-10-26  기타      1             1               37
107948  00001 2019-10-27  기타      1           127               38
123331  00001 2020-03-02  기타      1             0               39
12376   00001 2018-06-18  단말기     1            16                1
14358   00001 2018-07-04  단말기     1            30                2
18443   00001 2018-08-03  단말기     1            10                3
19600   00001 2018-08-13  단말기     1             2                4
19824   00001 2018-08-15  단말기     1             9                5
21232   00001 2018-08-24  단말기     1             6                6
21697   00001 2018-08-30  단말기     1             5                7
22351   00001 2018-09-04  단말기     1             6                8
23568   00001 2018-09-10  단말기     1             1                9
23839   00001 2018-09-11  단말기     1            28               10
28609   00001 2018-10-09  단말기     1            28               11

In [77]:
#cols_break = ['자전거번호','고장구분']
#df_group은 각 고장별 누적합을 위한 dataframe
df_group = df_break.groupby(cols_break).max()
df_group.reset_index()

       자전거번호  고장구분       등록일시  총_고장  heetaek_diff  기간과_기관사이_총_고장횟수
0      00001   기타  2020-03-02     1           127               39
1      00001   단말기 2019-10-05     1            58               54
2      00001    안장 2019-10-05     1           165               14
3      00001    체인 2019-10-09     1           124               26
4      00001  타이어  2019-10-22     1            89               26
...      ...   ...        ...   ...           ...              ...
64410  50621   기타  2020-10-30     1             0                1
64411  50733   단말기 2020-10-29     1             0                1
64412  50796    안장 2020-10-27     1             0                1
64413  51122   기타  2020-10-30     1             0                1
64414  51506   기타  2020-10-30     1             0                1

[64415 rows x 6 columns]

In [78]:
df_group_test = df_group.reset_index()

In [79]:
df_group_test['고장구분'].unique()

array(['기타 ', '단말기', '안장', '체인', '타이어 ', '페달', '파손', '잠금장치 불량'],
      dtype=object)

In [80]:
df_group_test

       자전거번호  고장구분       등록일시  총_고장  heetaek_diff  기간과_기관사이_총_고장횟수
0      00001   기타  2020-03-02     1           127               39
1      00001   단말기 2019-10-05     1            58               54
2      00001    안장 2019-10-05     1           165               14
3      00001    체인 2019-10-09     1           124               26
4      00001  타이어  2019-10-22     1            89               26
...      ...   ...        ...   ...           ...              ...
64410  50621   기타  2020-10-30     1             0                1
64411  50733   단말기 2020-10-29     1             0                1
64412  50796    안장 2020-10-27     1             0                1
64413  51122   기타  2020-10-30     1             0                1
64414  51506   기타  2020-10-30     1             0                1

[64415 rows x 6 columns]

In [81]:
#df_group은 각 고장별 누적합을 위한 dataframe

df_group = df_group.reset_index()

In [82]:
df_merge = pd.merge(df_break,df_group, how = 'inner', on = (cols_break))

In [83]:
df_merge

,자전거번호,등록일시_x,고장구분,총_고장_x,heetaek_diff_x,기간과_기관사이_총_고장횟수_x,등록일시_y,총_고장_y,heetaek_diff_y,기간과_기관사이_총_고장횟수_y
0,00001,2018-06-18,기타,1,17,1,2020-03-02,1,127,39
1,00001,2018-07-05,기타,1,8,2,2020-03-02,1,127,39
2,00001,2018-07-13,기타,1,4,3,2020-03-02,1,127,39
3,00001,2018-07-17,기타,1,24,4,2020-03-02,1,127,39
4,00001,2018-08-10,기타,1,20,5,2020-03-02,1,127,39
...,...,...,...,...,...,...,...,...,...,...
110548,50621,2020-10-30,기타,1,0,1,2020-10-30,1,0,1
110549,50733,2020-10-29,단말기,1,0,1,2020-10-29,1,0,1
110550,50796,2020-10-27,안장,1,0,1,2020-10-27,1,0,1
110551,51122,2020-10-30,기타,1,0,1,2020-10-30,1,0,1
110552,51506,2020-10-30,기타,1,0,1,2020-10-30,1,0,1

In [84]:
df_merge = df_merge[['등록일시_x','자전거번호','고장구분','heetaek_diff_x','기간과_기관사이_총_고장횟수_y']]

In [85]:
df_merge.sample(50)

           등록일시_x  자전거번호  고장구분  heetaek_diff_x  기간과_기관사이_총_고장횟수_y
7423   2019-07-18  02742   기타                0                  1
97976  2020-04-18  30491   기타                0                  1
26654  2018-08-19  07911   단말기               0                  1
92972  2019-08-25  24102   단말기             231                  2
84660  2019-06-30  21961   단말기               0                  1
40488  2019-08-22  11675   기타                0                  1
3234   2018-12-15  01037    체인              80                  6
89146  2020-03-20  23156   단말기               4                  3
10145  2019-05-18  03605  타이어                0                  1
52596  2020-02-29  14625   기타                0                  2
24486  2019-01-17  07319  타이어                0                  1
60373  2019-08-29  16123   기타                5                  2
103854 2020-05-23  35014    체인             110                  2
106682 2020-07-31  38546    체인              59                  2
93761  2020-04-15  24293   단말기               0                  4
92396  2020-03-28  23969  타이어               15                  3
13926  2019-08-24  04748    체인               0                  2
37340  2018-07-17  10860   기타                2                  6
110185 2020-09-26  43890   기타                0                  1
21776  2020-02-10  06749   기타                0                  1
5456   2019-07-03  02100   단말기               0                  1
27268  2019-07-10  08072   단말기               0                  3
1291   2018-05-18  00044  타이어                0                  2
70249  2020-07-07  18108   단말기               0                  1
3376   2019-08-07  01111   단말기               7                 22
2826   2019-05-27  00815   기타                0                  1
50356  2020-03-02  14137    페달               0                  1
40792  2020-02-27  11761    안장               0                  2
59648  2019-01-26  15990   단말기              76                 30
17599  2019-07-05  05749    안장              93                  2
30624  2020-03-29  08964    안장               0                  1
40545  2020-03-04  11693   단말기               0                  1
51150  2019-05-14  14303    페달               0                  1
40015  2019-06-30  11562   단말기              55                  3
107916 2020-06-28  40124   단말기               0                  1
45751  2017-11-09  13135  타이어              350                  4
96566  2020-03-12  25231  타이어                0                  1
100896 2020-08-17  32343    체인               3                  3
81073  2019-10-30  21054   단말기             150                  4
58791  2019-09-21  15842    체인               0                  1
45388  2020-02-10  13029  타이어                0                  1
102853 2020-06-17  33716    체인              99                  3
75541  2019-06-11  19474   단말기              49                  3
48714  2019-09-20  13800    체인             195                  3
39552  2019-04-07  11440   단말기             190                  2
56677  2019-10-13  15456    체인               0                  1
56402  2019-09-24  15401   단말기             204                  2
45111  2019-03-26  12952   단말기               0                  3
20467  2019-07-05  06447    체인               0                  4
96308  2019-10-17  25070    페달               6                  5

In [86]:

df_merge = df_merge.rename(columns={'등록일시_x':'등록일시'})
df_merge = df_merge.rename(columns={'heetaek_diff_x':'날짜차이'})
df_merge = df_merge.rename(columns={'기간과_기관사이_총_고장횟수_y':'기간내_총_고장횟수'})

In [87]:
group_col =  ['자전거번호','등록일시','고장구분']
df_group = df_break.groupby(group_col).max()
df_group.reset_index()

        자전거번호       등록일시  고장구분  총_고장  heetaek_diff  기간과_기관사이_총_고장횟수
0       00001 2018-06-18   기타      1            17                1
1       00001 2018-06-18   단말기     1            16                1
2       00001 2018-06-18    페달     1             5                1
3       00001 2018-06-22  타이어      1             6                1
4       00001 2018-06-23    페달     1            21                2
...       ...        ...   ...   ...           ...              ...
110548  50621 2020-10-30   기타      1             0                1
110549  50733 2020-10-29   단말기     1             0                1
110550  50796 2020-10-27    안장     1             0                1
110551  51122 2020-10-30   기타      1             0                1
110552  51506 2020-10-30   기타      1             0                1

[110553 rows x 6 columns]

In [88]:
df_merge.head(50)

         등록일시  자전거번호 고장구분  날짜차이  기간과_기관사이_총_고장횟수
0  2018-06-18  00001  기타     17               39
1  2018-07-05  00001  기타      8               39
2  2018-07-13  00001  기타      4               39
3  2018-07-17  00001  기타     24               39
4  2018-08-10  00001  기타     20               39
5  2018-08-30  00001  기타      9               39
6  2018-09-08  00001  기타    118               39
7  2019-01-04  00001  기타     19               39
8  2019-01-23  00001  기타     37               39
9  2019-03-01  00001  기타     11               39
10 2019-03-12  00001  기타     10               39
11 2019-03-22  00001  기타     26               39
12 2019-04-17  00001  기타      1               39
13 2019-04-18  00001  기타      8               39
14 2019-04-26  00001  기타     16               39
15 2019-05-12  00001  기타     27               39
16 2019-06-08  00001  기타      5               39
17 2019-06-13  00001  기타     13               39
18 2019-06-26  00001  기타      6               39
19 2019-07-02  00001  기타      7               39
20 2019-07-09  00001  기타      8               39
21 2019-07-17  00001  기타     23               39
22 2019-08-09  00001  기타      6               39
23 2019-08-15  00001  기타      3               39
24 2019-08-18  00001  기타      2               39
25 2019-08-20  00001  기타      6               39
26 2019-08-26  00001  기타      8               39
27 2019-09-03  00001  기타      3               39
28 2019-09-06  00001  기타     12               39
29 2019-09-18  00001  기타      6               39
30 2019-09-24  00001  기타     10               39
31 2019-10-04  00001  기타      7               39
32 2019-10-11  00001  기타      3               39
33 2019-10-14  00001  기타      5               39
34 2019-10-19  00001  기타      2               39
35 2019-10-21  00001  기타      5               39
36 2019-10-26  00001  기타      1               39
37 2019-10-27  00001  기타    127               39
38 2020-03-02  00001  기타      0               39
39 2018-06-18  00001  단말기    16               54
40 2018-07-04  00001  단말기    30               54
41 2018-08-03  00001  단말기    10               54
42 2018-08-13  00001  단말기     2               54
43 2018-08-15  00001  단말기     9               54
44 2018-08-24  00001  단말기     6               54
45 2018-08-30  00001  단말기     5               54
46 2018-09-04  00001  단말기     6               54
47 2018-09-10  00001  단말기     1               54
48 2018-09-11  00001  단말기    28               54
49 2018-10-09  00001  단말기    28               54