In [1]:
import pandas as pd

# 2020년
* 개인 작업시 경로 수정 필요

In [2]:
df_2012 = pd.read_csv('preprocess/2020/Bicycle 2012.csv',encoding = 'cp949',low_memory = False)
df_2011 = pd.read_csv('preprocess/2020/Bicycle 2011.csv',encoding = 'cp949',low_memory = False)
df_2010 = pd.read_csv('preprocess/2020/Bicycle 2010.csv',encoding = 'cp949',low_memory = False)
df_2009 = pd.read_csv('preprocess/2020/Bicycle 2009.csv',encoding = 'cp949',low_memory = False)
df_2007_08 = pd.read_csv('preprocess/2020/Bicycle 2007_08.csv',encoding = 'cp949',low_memory = False)
df_2006 = pd.read_csv('preprocess/2020/Bicycle 2006.csv',encoding = 'cp949',low_memory = False)
df_2005 = pd.read_csv('preprocess/2020/Bicycle 2005.csv',encoding = 'cp949',low_memory = False)
df_2004 = pd.read_csv('preprocess/2020/Bicycle 2004.csv',encoding = 'cp949',low_memory = False)
df_2003 = pd.read_csv('preprocess/2020/Bicycle 2003.csv',encoding = 'cp949',low_memory = False)
df_2002 = pd.read_csv('preprocess/2020/Bicycle 2002.csv',encoding = 'cp949',low_memory = False)
df_2001 = pd.read_csv('preprocess/2020/Bicycle 2001.csv',encoding = 'cp949',low_memory = False)

In [3]:
df_2020 = pd.concat([df_2001, df_2002, df_2003, df_2004, df_2005, df_2006, df_2007_08, df_2009, df_2010, df_2011, df_2012], ignore_index=True)

#시간 부분 떼어내기
df_2020['대여일시'] = df_2020['대여일시'].str.split(' ').str[0]
# df_2020['반납일시'] = df_2020['반납일시'].str.split(' ').str[0]

In [4]:
df_2020_select = df_2020[['자전거번호','대여일시','이용시간','이용거리']]

In [5]:
# df_name [ “col_name” ] .astype(…)

test_df = df_2020_select.astype({'이용시간':'float16'})
print(test_df.dtypes)

자전거번호     object
대여일시      object
반납일시      object
이용시간     float16
이용거리     float64
dtype: object

# 2021년
* 개인 작업시 경로 수정 필요

In [2]:
# df_2112 = pd.read_csv('preprocess/2021/Bicycle 2112.csv',encoding = 'cp949',low_memory = False)
# df_2111 = pd.read_csv('preprocess/2021/Bicycle 2111.csv',encoding = 'cp949',low_memory = False)
# df_2110 = pd.read_csv('preprocess/2021/Bicycle 2110.csv',encoding = 'cp949',low_memory = False)
# df_2109 = pd.read_csv('preprocess/2021/Bicycle 2109.csv',encoding = 'cp949',low_memory = False)
# df_2108 = pd.read_csv('preprocess/2021/Bicycle 2108.csv',encoding = 'cp949',low_memory = False)
# df_2107 = pd.read_csv('preprocess/2021/Bicycle 2107.csv',encoding = 'cp949',low_memory = False)
# df_2106 = pd.read_csv('preprocess/2021/Bicycle 2106.csv',encoding = 'cp949',low_memory = False)
# df_2105 = pd.read_csv('preprocess/2021/Bicycle 2105.csv',encoding = 'cp949',low_memory = False)
# df_2104 = pd.read_csv('preprocess/2021/Bicycle 2104.csv',encoding = 'cp949',low_memory = False)
# df_2103 = pd.read_csv('preprocess/2021/Bicycle 2103.csv',encoding = 'cp949',low_memory = False)
df_2102 = pd.read_csv('preprocess/2021/Bicycle 2102.csv',encoding = 'cp949',low_memory = False)
df_2101 = pd.read_csv('preprocess/2021/Bicycle 2101.csv',encoding = 'cp949',low_memory = False)

In [3]:
# df_2021 = pd.concat([df_2101, df_2102, df_2103, df_2104, df_2105, df_2106, df_2107, df_2108, df_2109, df_2110, df_2111, df_2112], ignore_index=True)
df_2021 = pd.concat([df_2101, df_2102], ignore_index=True)

#시간 부분 떼어내기
df_2021['대여일시'] = df_2021['대여일시'].str.split(' ').str[0]
# df_2021['반납일시'] = df_2021['반납일시'].str.split(' ').str[0]

In [4]:
df_2021 = df_2021[['자전거번호','대여일시','이용시간','이용거리']]
df_2021

             자전거번호        대여일시  이용시간     이용거리
0        SPB-53145  2021-01-02  25.0     0.00
1        SPB-53074  2021-01-04  14.0     0.00
2        SPB-50952  2021-01-13  11.0  1853.99
3        SPB-52380  2021-01-14  10.0     0.00
4        SPB-52380  2021-01-18  13.0  2291.05
...            ...         ...   ...      ...
2032909  SPB-35567  2021-02-28  37.0  6403.05
2032910  SPB-52298  2021-02-28  27.0  3839.32
2032911  SPB-43850  2021-02-28  63.0  2021.30
2032912  SPB-31466  2021-02-28  50.0  8361.71
2032913  SPB-43306  2021-02-28  15.0  2370.33

[2032914 rows x 4 columns]

# 2020년 + 2021년

In [9]:
df_20_21 = pd.concat([df_2020,df_2021], ignore_index=True)

df_20_21

              자전거번호        대여일시        반납일시  이용시간    이용거리
0         SPB-04061  2020-01-01  2020-01-01   2.0    0.00
1         SPB-06686  2020-01-01  2020-01-01   1.0  350.00
2         SPB-15937  2020-01-01  2020-01-01   4.0  800.00
3         SPB-14805  2020-01-01  2020-01-01   2.0    0.00
4         SPB-09038  2020-01-01  2020-01-01   4.0  660.00
...             ...         ...         ...   ...     ...
54076940  SPB-51882  2021-12-30  2021-12-30  12.0    0.00
54076941  SPB-51134  2021-12-30  2021-12-30   3.0    0.00
54076942  SPB-37732  2021-12-30  2021-12-30   3.0  345.45
54076943  SPB-51854  2021-12-22  2021-12-22  17.0    0.00
54076944  SPB-53564  2021-12-22  2021-12-22   1.0    0.00

[54076945 rows x 5 columns]

# 형(dtype)변환

In [10]:
# df_name [ “col_name” ] .astype(…)

df_20_21 = df_20_21.astype({'이용시간':'float16','이용거리' : 'float16'})
print(df_20_21.dtypes)

자전거번호     object
대여일시      object
반납일시      object
이용시간     float16
이용거리     float16
dtype: object

In [5]:
df_2021 = df_2021.astype({'이용시간':'float16','이용거리' : 'float16'})
print(df_2021.dtypes)

자전거번호     object
대여일시      object
이용시간     float16
이용거리     float16
dtype: object

# 합쳐진 데이터 추출

In [11]:
df_20_21.to_csv("Bicycle 20&21.csv", mode='w',encoding='euc-kr')

In [6]:
df_2021.to_csv("Rental 2021.csv", mode='w',encoding='euc-kr')