In [56]:
import pandas as pd
import xlrd

df0=pd.read_excel("D:\jupiter workspace\dataset\서울시 공공자전거 고장신고 내역_0.xlsx")
df1=pd.read_csv("D:\jupiter workspace\dataset\서울시 공공자전거 고장신고 내역_1.csv", encoding="cp949")
df2=pd.read_csv("D:\jupiter workspace\dataset\서울시 공공자전거 고장신고 내역_2.csv", encoding="cp949")
df3=pd.read_csv("D:\jupiter workspace\dataset\서울시 공공자전거 고장신고 내역_3.csv", encoding="cp949")

In [57]:
df=pd.concat([df0, df1, df2, df3], axis=0, ignore_index=True)

In [85]:
df

            자전거번호       등록일시 고장구분
0       SPB-00108 2015-12-04   체인
1       SPB-00210 2015-12-07   체인
2       SPB-00035 2015-12-09  기타
3       SPB-01024 2015-12-13  기타
4       SPB-01015 2015-12-28  기타
...           ...        ...  ...
337868  SPB-52362 2021-12-30   안장
337869  SPB-34353 2021-12-30  기타
337870  SPB-31667 2021-12-30  기타
337871  SPB-43563 2021-12-30   체인
337872  SPB-43563 2021-12-30  기타

[337873 rows x 3 columns]

In [86]:
df['등록일시'] = pd.to_datetime(df['등록일시'])

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337873 entries, 0 to 337872
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   자전거번호   337873 non-null  object
 1   등록일시    337873 non-null  datetime64[ns]
 2   고장구분    337873 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 7.7+ MB

In [80]:
df.to_csv("D:/jupiter_workspace/dataset/breakdown_bike.csv", encoding="cp949", index=False)

In [93]:
pwd

'C:\\Users\\Administrator'