In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from textwrap import wrap
from matplotlib.lines import Line2D
from matplotlib.offsetbox import OffsetImage, AnnotationBbox

In [2]:
#21년 08월 데이터 로드
df_01 = pd.read_csv('df_break_21_sampled1.csv', encoding = 'cp949', low_memory = False)
#21년 09월 데이터 로드
df_02 = pd.read_csv('df_break_21_sampled2.csv', encoding = 'cp949', low_memory = False)
#08, 09월 데이터 열 병합
df_03 = pd.read_csv('df_break_21_sampled3.csv', encoding = 'cp949', low_memory = False)
df_04 = pd.read_csv('df_break_21_sampled4.csv', encoding = 'cp949', low_memory = False)
df_05 = pd.read_csv('df_break_21_sampled5.csv', encoding = 'cp949', low_memory = False)

df_new = pd.concat([df_01,df_02,df_03,df_04,df_05])

In [3]:
df_new

           자전거번호        등록일시  고장구분
0      SPB-32980  2021-01-02  타이어
1      SPB-30448  2021-01-02  타이어
2      SPB-30756  2021-01-02   기타
3      SPB-22059  2021-01-03   단말기
4      SPB-52225  2021-01-03    안장
...          ...         ...   ...
13305  SPB-31161  2021-12-30    체인
13306  SPB-54054  2021-12-30   기타
13307  SPB-32054  2021-12-30  타이어
13308  SPB-39284  2021-12-30    안장
13309  SPB-51524  2021-12-30   기타

[67376 rows x 3 columns]

In [4]:
#info로 각 columns 별 dtype 확인.
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67376 entries, 0 to 13309
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   자전거번호   67376 non-null  object
 1   등록일시    67376 non-null  object
 2   고장구분    67376 non-null  object
dtypes: object(3)
memory usage: 2.1+ MB

In [5]:
#적재된 메모리 해제를 위한 delete
del df_01
del df_02
del df_03
del df_04
del df_05

In [6]:
#필요한 컬럼만 추출해서 df_new로 대입.
#df_new = df_new[['자전거번호', '대여일시','이용시간','이용거리']]

In [7]:
# check dtype
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67376 entries, 0 to 13309
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   자전거번호   67376 non-null  object
 1   등록일시    67376 non-null  object
 2   고장구분    67376 non-null  object
dtypes: object(3)
memory usage: 2.1+ MB

In [8]:
df_new.shape

(67376, 3)

In [9]:
#고장 데이터셋 로드
df_break = pd.read_csv('bike_breakdown.csv', encoding = 'cp949')

In [10]:
#df_break = df_break[['자전거번호','등록일시','고장구분',]]

In [11]:
#df_break[['등록일시' >= 202]]

In [12]:
'''from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df_break['고장구분'] = le.fit_transform(df_break['고장구분'])
df_break['고장구분']

'''

"from sklearn.preprocessing import LabelEncoder\n\nle = LabelEncoder()\ndf_break['고장구분'] = le.fit_transform(df_break['고장구분'])\ndf_break['고장구분']\n\n"

__자전거번호, 등록일시 두 개의 변수를 이용하여 계산__

In [13]:
#df_break = df_break.sort_values(by=['등록일시'])
cols = ['자전거번호','고장구분','등록일시']

In [14]:
df_break = df_break.sort_values(by=['자전거번호'])

tups = df_break[cols].sort_values(by=cols, ascending=(True, True,True)).apply(tuple, axis=1)
f, i = pd.factorize(tups)
display(tups, f, i)

10160     (SPB-00001, 기타 , 2018-05-17)
12377     (SPB-00001, 기타 , 2018-06-18)
14514     (SPB-00001, 기타 , 2018-07-05)
14575     (SPB-00001, 기타 , 2018-07-06)
15481     (SPB-00001, 기타 , 2018-07-13)
                      ...
336245    (SPB-84001, 기타 , 2021-12-23)
326098    (SPB-84018, 기타 , 2021-11-19)
327700    (SPB-84039, 단말기, 2021-11-24)
335361    (SPB-84149, 기타 , 2021-12-21)
316857     (SPB-84176, 페달, 2021-10-29)
Length: 337873, dtype: object

array([     0,      1,      2, ..., 334678, 334679, 334680], dtype=int64)

Index([ ('SPB-00001', '기타 ', '2018-05-17'),
        ('SPB-00001', '기타 ', '2018-06-18'),
        ('SPB-00001', '기타 ', '2018-07-05'),
        ('SPB-00001', '기타 ', '2018-07-06'),
        ('SPB-00001', '기타 ', '2018-07-13'),
        ('SPB-00001', '기타 ', '2018-07-17'),
        ('SPB-00001', '기타 ', '2018-08-10'),
        ('SPB-00001', '기타 ', '2018-08-30'),
        ('SPB-00001', '기타 ', '2018-09-08'),
        ('SPB-00001', '기타 ', '2019-01-04'),
       ...
         ('SPB-83840', '체인', '2021-12-01'),
        ('SPB-83864', '기타 ', '2021-12-21'),
        ('SPB-83904', '기타 ', '2021-11-15'),
        ('SPB-83917', '기타 ', '2021-12-21'),
       ('SPB-83956', '타이어 ', '2021-11-18'),
        ('SPB-84001', '기타 ', '2021-12-23'),
        ('SPB-84018', '기타 ', '2021-11-19'),
        ('SPB-84039', '단말기', '2021-11-24'),
        ('SPB-84149', '기타 ', '2021-12-21'),
         ('SPB-84176', '페달', '2021-10-29')],
      dtype='object', length=334681)

In [15]:
factorized = pd.Series(f + 1, tups.index)
display(factorized)

10160          1
12377          2
14514          3
14575          4
15481          5
           ...
336245    334677
326098    334678
327700    334679
335361    334680
316857    334681
Length: 337873, dtype: int64

In [16]:
df_break['rank'] = factorized
df_break.sort_values(by='rank', ascending=True, inplace = True)

display(df_break)

            자전거번호        등록일시 고장구분    rank
10160   SPB-00001  2018-05-17  기타        1
12377   SPB-00001  2018-06-18  기타        2
14514   SPB-00001  2018-07-05  기타        3
14575   SPB-00001  2018-07-06  기타        4
15481   SPB-00001  2018-07-13  기타        5
...           ...         ...  ...     ...
336245  SPB-84001  2021-12-23  기타   334677
326098  SPB-84018  2021-11-19  기타   334678
327700  SPB-84039  2021-11-24  단말기  334679
335361  SPB-84149  2021-12-21  기타   334680
316857  SPB-84176  2021-10-29   페달  334681

[337873 rows x 4 columns]

__rank로 오름차순 정렬하면 성공__

In [17]:
df_break.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 337873 entries, 10160 to 316857
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   자전거번호   337873 non-null  object
 1   등록일시    337873 non-null  object
 2   고장구분    337873 non-null  object
 3   rank    337873 non-null  int64
dtypes: int64(1), object(3)
memory usage: 12.9+ MB

In [18]:
df_break['등록일시'] = pd.to_datetime(df_break['등록일시'], format="%Y/%m/%d")

In [19]:
df_break['등록일시'].isna().sum()

0

In [20]:
df_break.groupby(['자전거번호'])

In [21]:
df_break['자전거번호']

10160     SPB-00001
12377     SPB-00001
14514     SPB-00001
14575     SPB-00001
15481     SPB-00001
            ...
336245    SPB-84001
326098    SPB-84018
327700    SPB-84039
335361    SPB-84149
316857    SPB-84176
Name: 자전거번호, Length: 337873, dtype: object

In [22]:
#row 를 shift 해주면서 위, 아래 계산

In [23]:

#df_break['등록일시'] = pd.to_datetime(df_break['등록일시'], format="%Y/%m/%d")

In [24]:
#df_break = df_break['자전거번호'].groupby(df_break['등록일시']).sum()

In [25]:
df_break.head(50)

            자전거번호       등록일시 고장구분  rank
10160   SPB-00001 2018-05-17  기타      1
12377   SPB-00001 2018-06-18  기타      2
14514   SPB-00001 2018-07-05  기타      3
14575   SPB-00001 2018-07-06  기타      4
15481   SPB-00001 2018-07-13  기타      5
16149   SPB-00001 2018-07-17  기타      6
19284   SPB-00001 2018-08-10  기타      7
21698   SPB-00001 2018-08-30  기타      8
23315   SPB-00001 2018-09-08  기타      9
36868   SPB-00001 2019-01-04  기타     10
37521   SPB-00001 2019-01-23  기타     11
39315   SPB-00001 2019-03-01  기타     12
40143   SPB-00001 2019-03-12  기타     13
40893   SPB-00001 2019-03-22  기타     14
44046   SPB-00001 2019-04-17  기타     15
44343   SPB-00001 2019-04-18  기타     16
45707   SPB-00001 2019-04-26  기타     17
49732   SPB-00001 2019-05-12  기타     18
58429   SPB-00001 2019-06-08  기타     19
60409   SPB-00001 2019-06-13  기타     20
64950   SPB-00001 2019-06-26  기타     21
67326   SPB-00001 2019-07-02  기타     22
70072   SPB-00001 2019-07-09  기타     23
72979   SPB-00001 2019-07-17  기타     24
79351   SPB-00001 2019-08-09  기타     25
80835   SPB-00001 2019-08-15  기타     26
81616   SPB-00001 2019-08-18  기타     27
82426   SPB-00001 2019-08-20  기타     28
84595   SPB-00001 2019-08-26  기타     29
88156   SPB-00001 2019-09-03  기타     30
88727   SPB-00001 2019-09-06  기타     31
91907   SPB-00001 2019-09-18  기타     32
91768   SPB-00001 2019-09-18  기타     32
94731   SPB-00001 2019-09-24  기타     33
99155   SPB-00001 2019-10-04  기타     34
99658   SPB-00001 2019-10-05  기타     35
99529   SPB-00001 2019-10-05  기타     35
101663  SPB-00001 2019-10-11  기타     36
103016  SPB-00001 2019-10-14  기타     37
104819  SPB-00001 2019-10-19  기타     38
105590  SPB-00001 2019-10-21  기타     39
107514  SPB-00001 2019-10-26  기타     40
107948  SPB-00001 2019-10-27  기타     41
123331  SPB-00001 2020-03-02  기타     42
315949  SPB-00001 2021-10-28  기타     43
10856   SPB-00001 2018-05-28  단말기    44
12376   SPB-00001 2018-06-18  단말기    45
14358   SPB-00001 2018-07-04  단말기    46
18443   SPB-00001 2018-08-03  단말기    47
19600   SPB-00001 2018-08-13  단말기    48

In [26]:
df_break

            자전거번호       등록일시 고장구분    rank
10160   SPB-00001 2018-05-17  기타        1
12377   SPB-00001 2018-06-18  기타        2
14514   SPB-00001 2018-07-05  기타        3
14575   SPB-00001 2018-07-06  기타        4
15481   SPB-00001 2018-07-13  기타        5
...           ...        ...  ...     ...
336245  SPB-84001 2021-12-23  기타   334677
326098  SPB-84018 2021-11-19  기타   334678
327700  SPB-84039 2021-11-24  단말기  334679
335361  SPB-84149 2021-12-21  기타   334680
316857  SPB-84176 2021-10-29   페달  334681

[337873 rows x 4 columns]

In [27]:
df_break['diff'] = (df_break.등록일시 - df_break.등록일시.shift())

In [28]:
#timedelta to string
df_break['diff'] = df_break['diff'].astype(str)

In [29]:
list = []
list = df_break['자전거번호'].unique()
print(list[1])

SPB-00002

In [30]:
df_break['diff'] = df_break['diff'].str.split(' ').str[0]

In [31]:
df_break.head(50)
#df_break['diff'] = df_break['diff'].astype(int)

            자전거번호       등록일시 고장구분  rank   diff
10160   SPB-00001 2018-05-17  기타      1    NaT
12377   SPB-00001 2018-06-18  기타      2     32
14514   SPB-00001 2018-07-05  기타      3     17
14575   SPB-00001 2018-07-06  기타      4      1
15481   SPB-00001 2018-07-13  기타      5      7
16149   SPB-00001 2018-07-17  기타      6      4
19284   SPB-00001 2018-08-10  기타      7     24
21698   SPB-00001 2018-08-30  기타      8     20
23315   SPB-00001 2018-09-08  기타      9      9
36868   SPB-00001 2019-01-04  기타     10    118
37521   SPB-00001 2019-01-23  기타     11     19
39315   SPB-00001 2019-03-01  기타     12     37
40143   SPB-00001 2019-03-12  기타     13     11
40893   SPB-00001 2019-03-22  기타     14     10
44046   SPB-00001 2019-04-17  기타     15     26
44343   SPB-00001 2019-04-18  기타     16      1
45707   SPB-00001 2019-04-26  기타     17      8
49732   SPB-00001 2019-05-12  기타     18     16
58429   SPB-00001 2019-06-08  기타     19     27
60409   SPB-00001 2019-06-13  기타     20      5
64950   SPB-00001 2019-06-26  기타     21     13
67326   SPB-00001 2019-07-02  기타     22      6
70072   SPB-00001 2019-07-09  기타     23      7
72979   SPB-00001 2019-07-17  기타     24      8
79351   SPB-00001 2019-08-09  기타     25     23
80835   SPB-00001 2019-08-15  기타     26      6
81616   SPB-00001 2019-08-18  기타     27      3
82426   SPB-00001 2019-08-20  기타     28      2
84595   SPB-00001 2019-08-26  기타     29      6
88156   SPB-00001 2019-09-03  기타     30      8
88727   SPB-00001 2019-09-06  기타     31      3
91907   SPB-00001 2019-09-18  기타     32     12
91768   SPB-00001 2019-09-18  기타     32      0
94731   SPB-00001 2019-09-24  기타     33      6
99155   SPB-00001 2019-10-04  기타     34     10
99658   SPB-00001 2019-10-05  기타     35      1
99529   SPB-00001 2019-10-05  기타     35      0
101663  SPB-00001 2019-10-11  기타     36      6
103016  SPB-00001 2019-10-14  기타     37      3
104819  SPB-00001 2019-10-19  기타     38      5
105590  SPB-00001 2019-10-21  기타     39      2
107514  SPB-00001 2019-10-26  기타     40      5
107948  SPB-00001 2019-10-27  기타     41      1
123331  SPB-00001 2020-03-02  기타     42    127
315949  SPB-00001 2021-10-28  기타     43    605
10856   SPB-00001 2018-05-28  단말기    44  -1249
12376   SPB-00001 2018-06-18  단말기    45     21
14358   SPB-00001 2018-07-04  단말기    46     16
18443   SPB-00001 2018-08-03  단말기    47     30
19600   SPB-00001 2018-08-13  단말기    48     10

In [32]:
df_break.tail(50)
df_break['총_고장'] = 1

In [33]:
#고장구분 column LabelEncoder 작업

In [34]:
#df_break['고장구분'] = 1

In [35]:
df_break['자전거번호'] = df_break['자전거번호'].str.split('-').str[1]
df_new['자전거번호'] = df_new['자전거번호'].str.split('-').str[1]

In [36]:
#t:m:s 날리기 위한 split 작업 후 대입
df_break['등록일시'] = df_break['등록일시'].dt.strftime('%Y/%m/%d')
df_break['등록일시']

10160     2018/05/17
12377     2018/06/18
14514     2018/07/05
14575     2018/07/06
15481     2018/07/13
             ...
336245    2021/12/23
326098    2021/11/19
327700    2021/11/24
335361    2021/12/21
316857    2021/10/29
Name: 등록일시, Length: 337873, dtype: object

In [37]:
df_break

        자전거번호        등록일시 고장구분    rank diff  총_고장
10160   00001  2018/05/17  기타        1  NaT     1
12377   00001  2018/06/18  기타        2   32     1
14514   00001  2018/07/05  기타        3   17     1
14575   00001  2018/07/06  기타        4    1     1
15481   00001  2018/07/13  기타        5    7     1
...       ...         ...  ...     ...  ...   ...
336245  84001  2021/12/23  기타   334677   35     1
326098  84018  2021/11/19  기타   334678  -34     1
327700  84039  2021/11/24  단말기  334679    5     1
335361  84149  2021/12/21  기타   334680   27     1
316857  84176  2021/10/29   페달  334681  -53     1

[337873 rows x 6 columns]

In [38]:
# 그룹별 drop_duplicates 필요.
# df_break['등록일시'] = df_break['등록일시'].drop_duplicates()

In [39]:
#df_break.dropna()

In [40]:
df_break = df_break.dropna()

In [41]:
df_break

        자전거번호        등록일시 고장구분    rank diff  총_고장
10160   00001  2018/05/17  기타        1  NaT     1
12377   00001  2018/06/18  기타        2   32     1
14514   00001  2018/07/05  기타        3   17     1
14575   00001  2018/07/06  기타        4    1     1
15481   00001  2018/07/13  기타        5    7     1
...       ...         ...  ...     ...  ...   ...
336245  84001  2021/12/23  기타   334677   35     1
326098  84018  2021/11/19  기타   334678  -34     1
327700  84039  2021/11/24  단말기  334679    5     1
335361  84149  2021/12/21  기타   334680   27     1
316857  84176  2021/10/29   페달  334681  -53     1

[337873 rows x 6 columns]

In [42]:
#NaT 결측치를 -99로 대체. (타입 통일 후, 형 변환을 위해)
df_break['diff'] = df_break['diff'].replace(['NaT'], '-99')

In [43]:
#조건문을 위한 타입변경
df_break['diff'] = df_break['diff'].astype(int)

# diff가 0이상인 애들만 따로 저장
diff_positive_num = df_break['diff'] > 0

#조건에 충족되는 값을 df_break에 저장.
df_break = df_break[diff_positive_num & df_break['고장구분'] == 1]
df_break

        자전거번호        등록일시 고장구분    rank  diff  총_고장
12377   00001  2018/06/18  기타        2    32     1
14514   00001  2018/07/05  기타        3    17     1
14575   00001  2018/07/06  기타        4     1     1
15481   00001  2018/07/13  기타        5     7     1
16149   00001  2018/07/17  기타        6     4     1
...       ...         ...  ...     ...   ...   ...
335645  83864  2021/12/21  기타   334673    20     1
335428  83917  2021/12/21  기타   334675    36     1
336245  84001  2021/12/23  기타   334677    35     1
327700  84039  2021/11/24  단말기  334679     5     1
335361  84149  2021/12/21  기타   334680    27     1

[217392 rows x 6 columns]

In [44]:

#df_break.info()

### 현재 요까지 22.3.10 10:33

In [45]:
#자전거번호, 등록일시, dfii 기준그룹화 한 값을
#df_group = df_break.groupby(['자전거번호','등록일시','diff']).sum()
group_col =  ['자전거번호','등록일시','고장구분']
df_group = df_break.groupby(group_col).sum()
#df_group = df_break.groupby(['자전거번호']).sum()

In [46]:
#df_group.groupby(['자전거번호']).get_group('00001')

df_group.head(50)
#df_group['고장구분']
#df_group.reset_index()

                       rank  diff  총_고장
자전거번호 등록일시       고장구분
00001 2018/06/18 기타       2    32     1
                 단말기     45    21     1
                 페달     174    21     1
      2018/06/22 타이어    147     4     1
      2018/06/23 페달     175     5     1
      2018/06/28 안장     104    10     1
                 타이어    148     6     1
      2018/07/04 단말기     46    16     1
      2018/07/05 기타       3    17     1
                 체인     119    17     1
      2018/07/06 기타       4     1     1
                 타이어    149     8     1
      2018/07/08 타이어    150     2     1
      2018/07/13 기타       5     7     1
      2018/07/14 체인     120     9     1
                 페달     176    21     1
      2018/07/17 기타       6     4     1
      2018/07/21 체인     121     7     1
      2018/07/27 타이어    151    19     1
      2018/08/03 단말기     47    30     1
      2018/08/10 기타       7    24     1
      2018/08/13 단말기     48    10     1
                 타이어    152    17     1
      2018/08/15 단말기     49     2     1
      2018/08/24 단말기     50     9     1
      2018/08/30 기타       8    20     1
                 단말기     51     6     1
      2018/09/04 단말기     52     5     1
      2018/09/05 타이어    153    23     1
      2018/09/07 체인     122    48     1
      2018/09/08 기타       9     9     1
      2018/09/10 단말기     53     6     1
      2018/09/11 단말기     54     1     1
      2018/09/12 타이어    154     7     1
      2018/09/28 타이어    155    16     1
      2018/10/01 안장     105    95     1
      2018/10/03 안장     106     2     1
      2018/10/09 단말기     55    28     1
      2018/10/20 안장     107    17     1
      2018/10/29 체인     123    52     1
      2018/11/04 체인     124     6     1
                 타이어    156    37     1
      2018/11/06 단말기     56    28     1
      2018/11/12 단말기     57     6     1
      2018/11/13 단말기     58     1     1
      2018/11/14 체인     125    10     1
      2019/01/04 기타      10   118     1
      2019/01/10 단말기     59    58     1
      2019/01/16 단말기     60     6     1
      2019/01/23 기타      11    19     1

In [47]:
#df_group['고장구분'].unique()

In [48]:
#df_group['diff2'] = (df_group.등록일시 - df_group.등록일시.shift())

#df_group['고장구분'] = df_group['고장구분'].astype('int64')
df_group.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 217392 entries, ('00001', '2018/06/18', '기타 ') to ('84149', '2021/12/21', '기타 ')
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   rank    217392 non-null  int64
 1   diff    217392 non-null  int32
 2   총_고장    217392 non-null  int64
dtypes: int32(1), int64(2)
memory usage: 6.0+ MB

In [49]:
df_group_reset = df_group.reset_index()

In [50]:
df_group_reset.head(10)

   자전거번호        등록일시  고장구분  rank  diff  총_고장
0  00001  2018/06/18   기타      2    32     1
1  00001  2018/06/18   단말기    45    21     1
2  00001  2018/06/18    페달   174    21     1
3  00001  2018/06/22  타이어    147     4     1
4  00001  2018/06/23    페달   175     5     1
5  00001  2018/06/28    안장   104    10     1
6  00001  2018/06/28  타이어    148     6     1
7  00001  2018/07/04   단말기    46    16     1
8  00001  2018/07/05   기타      3    17     1
9  00001  2018/07/05    체인   119    17     1

In [51]:
df_group_reset.tail(10)

        자전거번호        등록일시 고장구분    rank  diff  총_고장
217382  83642  2021/12/22   안장  334660    13     1
217383  83682  2021/11/25  기타   334663     2     1
217384  83702  2021/11/24  기타   334667     8     1
217385  83799  2021/12/03  기타   334668     9     1
217386  83820  2021/12/24   체인  334669    21     1
217387  83864  2021/12/21  기타   334673    20     1
217388  83917  2021/12/21  기타   334675    36     1
217389  84001  2021/12/23  기타   334677    35     1
217390  84039  2021/11/24  단말기  334679     5     1
217391  84149  2021/12/21  기타   334680    27     1

In [52]:
#df_group_reset.transpose()
#df_group.size()

In [53]:
df_group_new = df_group

In [54]:
df_group_new

                         rank  diff  총_고장
자전거번호 등록일시       고장구분
00001 2018/06/18 기타         2    32     1
                 단말기       45    21     1
                 페달       174    21     1
      2018/06/22 타이어      147     4     1
      2018/06/23 페달       175     5     1
...                       ...   ...   ...
83864 2021/12/21 기타    334673    20     1
83917 2021/12/21 기타    334675    36     1
84001 2021/12/23 기타    334677    35     1
84039 2021/11/24 단말기   334679     5     1
84149 2021/12/21 기타    334680    27     1

[217392 rows x 3 columns]

In [55]:
temp_year_condition = df_break['등록일시']>='2021-01-01'
bike_number_condition = df_break['자전거번호']=='00001'

temp = df_break[bike_number_condition&temp_year_condition].reset_index(drop=True)

print(len(temp))

temp_dict = {'자전거번호':[], '등록일시':[], '총이용시간':[], '총이용거리':[]}



# temp.iloc[6, 1]

2

In [56]:
df_group

                         rank  diff  총_고장
자전거번호 등록일시       고장구분
00001 2018/06/18 기타         2    32     1
                 단말기       45    21     1
                 페달       174    21     1
      2018/06/22 타이어      147     4     1
      2018/06/23 페달       175     5     1
...                       ...   ...   ...
83864 2021/12/21 기타    334673    20     1
83917 2021/12/21 기타    334675    36     1
84001 2021/12/23 기타    334677    35     1
84039 2021/11/24 단말기   334679     5     1
84149 2021/12/21 기타    334680    27     1

[217392 rows x 3 columns]

In [57]:
df_break_heetaek = df_break.assign(등록일시2=df_break.groupby(['자전거번호','고장구분']).등록일시.shift(-1)).fillna({'등록일시2': df_break.등록일시})

In [58]:
df_break_heetaek

        자전거번호        등록일시 고장구분    rank  diff  총_고장       등록일시2
12377   00001  2018/06/18  기타        2    32     1  2018/07/05
14514   00001  2018/07/05  기타        3    17     1  2018/07/06
14575   00001  2018/07/06  기타        4     1     1  2018/07/13
15481   00001  2018/07/13  기타        5     7     1  2018/07/17
16149   00001  2018/07/17  기타        6     4     1  2018/08/10
...       ...         ...  ...     ...   ...   ...         ...
335645  83864  2021/12/21  기타   334673    20     1  2021/12/21
335428  83917  2021/12/21  기타   334675    36     1  2021/12/21
336245  84001  2021/12/23  기타   334677    35     1  2021/12/23
327700  84039  2021/11/24  단말기  334679     5     1  2021/11/24
335361  84149  2021/12/21  기타   334680    27     1  2021/12/21

[217392 rows x 7 columns]

In [59]:
df_break_heetaek.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 217392 entries, 12377 to 335361
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   자전거번호   217392 non-null  object
 1   등록일시    217392 non-null  object
 2   고장구분    217392 non-null  object
 3   rank    217392 non-null  int64
 4   diff    217392 non-null  int32
 5   총_고장    217392 non-null  int64
 6   등록일시2   217392 non-null  object
dtypes: int32(1), int64(2), object(4)
memory usage: 12.4+ MB

In [60]:
df_break_heetaek['등록일시'] = pd.to_datetime(df_break_heetaek['등록일시'], format="%Y/%m/%d")
df_break_heetaek['등록일시2'] = pd.to_datetime(df_break_heetaek['등록일시2'], format="%Y/%m/%d")
df_break_heetaek

        자전거번호       등록일시 고장구분    rank  diff  총_고장      등록일시2
12377   00001 2018-06-18  기타        2    32     1 2018-07-05
14514   00001 2018-07-05  기타        3    17     1 2018-07-06
14575   00001 2018-07-06  기타        4     1     1 2018-07-13
15481   00001 2018-07-13  기타        5     7     1 2018-07-17
16149   00001 2018-07-17  기타        6     4     1 2018-08-10
...       ...        ...  ...     ...   ...   ...        ...
335645  83864 2021-12-21  기타   334673    20     1 2021-12-21
335428  83917 2021-12-21  기타   334675    36     1 2021-12-21
336245  84001 2021-12-23  기타   334677    35     1 2021-12-23
327700  84039 2021-11-24  단말기  334679     5     1 2021-11-24
335361  84149 2021-12-21  기타   334680    27     1 2021-12-21

[217392 rows x 7 columns]

In [61]:
#차이값 발생
df_break_heetaek['heetaek_diff'] = df_break_heetaek['등록일시2'] - df_break_heetaek['등록일시']

In [62]:
df_break_heetaek.tail(50)

        자전거번호       등록일시  고장구분    rank  diff  총_고장      등록일시2 heetaek_diff
335403  82252 2021-12-21   기타   334573    25     1 2021-12-21       0 days
322545  82296 2021-11-11    체인  334575     6     1 2021-11-11       0 days
323926  82319 2021-11-14  타이어   334578    11     1 2021-11-14       0 days
329895  82355 2021-12-01  타이어   334579    17     1 2021-12-01       0 days
330261  82364 2021-12-02   기타   334580     1     1 2021-12-02       0 days
333844  82387 2021-12-14   기타   334582    45     1 2021-12-14       0 days
334262  82401 2021-12-16   기타   334583     2     1 2021-12-16       0 days
328132  82412 2021-11-25   기타   334586    23     1 2021-11-25       0 days
337593  82424 2021-12-30   단말기  334587    35     1 2021-12-30       0 days
332727  82460 2021-12-10   기타   334592    34     1 2021-12-10       0 days
323670  82472 2021-11-13   기타   334594    17     1 2021-11-13       0 days
322244  82503 2021-11-10   기타   334597     8     1 2021-11-10       0 days
331989  82518 2021-12-08   기타   334599    38     1 2021-12-08       0 days
326069  82542 2021-11-19   기타   334602     4     1 2021-11-19       0 days
327657  82563 2021-11-24   기타   334604    18     1 2021-11-24       0 days
323987  82585 2021-11-14   단말기  334608    10     1 2021-11-14       0 days
320596  82658 2021-11-05  타이어   334611     2     1 2021-11-05       0 days
322400  82689 2021-11-10   기타   334612     5     1 2021-11-10       0 days
322538  82712 2021-11-11   기타   334613     1     1 2021-11-11       0 days
326850  82763 2021-11-21   기타   334614    10     1 2021-11-21       0 days
334223  82772 2021-12-16    체인  334615    25     1 2021-12-16       0 days
321660  82872 2021-11-07   단말기  334620     1     1 2021-11-07       0 days
336352  82877 2021-12-24   기타   334621    47     1 2021-12-24       0 days
325321  82885 2021-11-17    체인  334623    14     1 2021-11-17       0 days
335767  82953 2021-12-22   기타   334624    35     1 2021-12-25       3 days
336530  82953 2021-12-25   기타   334625     3     1 2021-12-25       0 days
322981  82997 2021-11-11    체인  334630     5     1 2021-11-11       0 days
334108  83017 2021-12-15  타이어   334634    39     1 2021-12-15       0 days
337257  83075 2021-12-28   기타   334638    44     1 2021-12-28       0 days
332856  83135 2021-12-10   단말기  334642    20     1 2021-12-10       0 days
323870  83254 2021-11-14   기타   334644     3     1 2021-11-14       0 days
330287  83290 2021-12-02   단말기  334645    18     1 2021-12-02       0 days
337198  83293 2021-12-28   단말기  334646    26     1 2021-12-28       0 days
327810  83399 2021-11-24    페달  334648    10     1 2021-11-24       0 days
331670  83400 2021-12-07    체인  334649    13     1 2021-12-07       0 days
330457  83468 2021-12-03    체인  334652    12     1 2021-12-03       0 days
331612  83489 2021-12-07   기타   334653     4     1 2021-12-07       0 days
335310  83536 2021-12-20   기타   334655    14     1 2021-12-20       0 days
327569  83563 2021-11-23   기타   334658     5     1 2021-11-23       0 days
332392  83635 2021-12-09   기타   334659    16     1 2021-12-09       0 days
335859  83642 2021-12-22    안장  334660    13     1 2021-12-22       0 days
328124  83682 2021-11-25   기타   334663     2     1 2021-11-25       0 days
327765  83702 2021-11-24   기타   334667     8     1 2021-11-24       0 days
330446  83799 2021-12-03   기타   334668     9     1 2021-12-03       0 days
336327  83820 2021-12-24    체인  334669    21     1 2021-12-24       0 days
335645  83864 2021-12-21   기타   334673    20     1 2021-12-21       0 days
335428  83917 2021-12-21   기타   334675    36     1 2021-12-21       0 days
336245  84001 2021-12-23   기타   334677    35     1 2021-12-23       0 days
327700  84039 2021-11-24   단말기  334679     5     1 2021-11-24       0 days
335361  84149 2021-12-21   기타   334680    27     1 2021-12-21       0 days

In [63]:
#diff값 split 적용을 위해 str로 타입변경
df_break_heetaek['heetaek_diff'] = df_break_heetaek['heetaek_diff'].astype('str')

In [64]:
df_break_heetaek.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 217392 entries, 12377 to 335361
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   자전거번호         217392 non-null  object
 1   등록일시          217392 non-null  datetime64[ns]
 2   고장구분          217392 non-null  object
 3   rank          217392 non-null  int64
 4   diff          217392 non-null  int32
 5   총_고장          217392 non-null  int64
 6   등록일시2         217392 non-null  datetime64[ns]
 7   heetaek_diff  217392 non-null  object
dtypes: datetime64[ns](2), int32(1), int64(2), object(3)
memory usage: 14.1+ MB

In [65]:
#split 실행 후, int형 변환
df_break_heetaek['heetaek_diff'] = df_break_heetaek['heetaek_diff'].str.split(' ').str[0]
df_break_heetaek['heetaek_diff'] = df_break_heetaek['heetaek_diff'].astype('int64')

In [66]:
df_break_heetaek.head(50)

        자전거번호       등록일시 고장구분  rank  diff  총_고장      등록일시2  heetaek_diff
12377   00001 2018-06-18  기타      2    32     1 2018-07-05            17
14514   00001 2018-07-05  기타      3    17     1 2018-07-06             1
14575   00001 2018-07-06  기타      4     1     1 2018-07-13             7
15481   00001 2018-07-13  기타      5     7     1 2018-07-17             4
16149   00001 2018-07-17  기타      6     4     1 2018-08-10            24
19284   00001 2018-08-10  기타      7    24     1 2018-08-30            20
21698   00001 2018-08-30  기타      8    20     1 2018-09-08             9
23315   00001 2018-09-08  기타      9     9     1 2019-01-04           118
36868   00001 2019-01-04  기타     10   118     1 2019-01-23            19
37521   00001 2019-01-23  기타     11    19     1 2019-03-01            37
39315   00001 2019-03-01  기타     12    37     1 2019-03-12            11
40143   00001 2019-03-12  기타     13    11     1 2019-03-22            10
40893   00001 2019-03-22  기타     14    10     1 2019-04-17            26
44046   00001 2019-04-17  기타     15    26     1 2019-04-18             1
44343   00001 2019-04-18  기타     16     1     1 2019-04-26             8
45707   00001 2019-04-26  기타     17     8     1 2019-05-12            16
49732   00001 2019-05-12  기타     18    16     1 2019-06-08            27
58429   00001 2019-06-08  기타     19    27     1 2019-06-13             5
60409   00001 2019-06-13  기타     20     5     1 2019-06-26            13
64950   00001 2019-06-26  기타     21    13     1 2019-07-02             6
67326   00001 2019-07-02  기타     22     6     1 2019-07-09             7
70072   00001 2019-07-09  기타     23     7     1 2019-07-17             8
72979   00001 2019-07-17  기타     24     8     1 2019-08-09            23
79351   00001 2019-08-09  기타     25    23     1 2019-08-15             6
80835   00001 2019-08-15  기타     26     6     1 2019-08-18             3
81616   00001 2019-08-18  기타     27     3     1 2019-08-20             2
82426   00001 2019-08-20  기타     28     2     1 2019-08-26             6
84595   00001 2019-08-26  기타     29     6     1 2019-09-03             8
88156   00001 2019-09-03  기타     30     8     1 2019-09-06             3
88727   00001 2019-09-06  기타     31     3     1 2019-09-18            12
91907   00001 2019-09-18  기타     32    12     1 2019-09-24             6
94731   00001 2019-09-24  기타     33     6     1 2019-10-04            10
99155   00001 2019-10-04  기타     34    10     1 2019-10-05             1
99658   00001 2019-10-05  기타     35     1     1 2019-10-11             6
101663  00001 2019-10-11  기타     36     6     1 2019-10-14             3
103016  00001 2019-10-14  기타     37     3     1 2019-10-19             5
104819  00001 2019-10-19  기타     38     5     1 2019-10-21             2
105590  00001 2019-10-21  기타     39     2     1 2019-10-26             5
107514  00001 2019-10-26  기타     40     5     1 2019-10-27             1
107948  00001 2019-10-27  기타     41     1     1 2020-03-02           127
123331  00001 2020-03-02  기타     42   127     1 2021-10-28           605
315949  00001 2021-10-28  기타     43   605     1 2021-10-28             0
12376   00001 2018-06-18  단말기    45    21     1 2018-07-04            16
14358   00001 2018-07-04  단말기    46    16     1 2018-08-03            30
18443   00001 2018-08-03  단말기    47    30     1 2018-08-13            10
19600   00001 2018-08-13  단말기    48    10     1 2018-08-15             2
19824   00001 2018-08-15  단말기    49     2     1 2018-08-24             9
21232   00001 2018-08-24  단말기    50     9     1 2018-08-30             6
21697   00001 2018-08-30  단말기    51     6     1 2018-09-04             5
22351   00001 2018-09-04  단말기    52     5     1 2018-09-10             6

In [67]:
#df_break['자전거번호'] = df_break['자전거번호'].str.split(' ').str[0]
df_break = df_break_heetaek

df_break.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 217392 entries, 12377 to 335361
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   자전거번호         217392 non-null  object
 1   등록일시          217392 non-null  datetime64[ns]
 2   고장구분          217392 non-null  object
 3   rank          217392 non-null  int64
 4   diff          217392 non-null  int32
 5   총_고장          217392 non-null  int64
 6   등록일시2         217392 non-null  datetime64[ns]
 7   heetaek_diff  217392 non-null  int64
dtypes: datetime64[ns](2), int32(1), int64(3), object(2)
memory usage: 14.1+ MB

In [68]:
df_break = df_break[['자전거번호','등록일시','고장구분','총_고장','heetaek_diff']]

In [69]:
df_break.head()

       자전거번호       등록일시 고장구분  총_고장  heetaek_diff
12377  00001 2018-06-18  기타      1            17
14514  00001 2018-07-05  기타      1             1
14575  00001 2018-07-06  기타      1             7
15481  00001 2018-07-13  기타      1             4
16149  00001 2018-07-17  기타      1            24

In [70]:
df_break.tail()

        자전거번호       등록일시 고장구분  총_고장  heetaek_diff
335645  83864 2021-12-21  기타      1             0
335428  83917 2021-12-21  기타      1             0
336245  84001 2021-12-23  기타      1             0
327700  84039 2021-11-24  단말기     1             0
335361  84149 2021-12-21  기타      1             0

In [71]:
bike_number_list = []
bike_number_list = df_break['자전거번호'].unique()
bike_number_list = bike_number_list.tolist()

In [72]:
len(bike_number_list)

47393

In [73]:
cols_break = ['자전거번호','고장구분']

In [74]:
df_break['기간과_기관사이_총_고장횟수'] = df_break.groupby(cols_break)['총_고장'].apply(lambda x: x.cumsum())
#no_cumulative == 자전거번호 및 고장구분에 따른 고장횟수.

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [75]:
df_break.head(50)

        자전거번호       등록일시 고장구분  총_고장  heetaek_diff  기간과_기관사이_총_고장횟수
12377   00001 2018-06-18  기타      1            17                1
14514   00001 2018-07-05  기타      1             1                2
14575   00001 2018-07-06  기타      1             7                3
15481   00001 2018-07-13  기타      1             4                4
16149   00001 2018-07-17  기타      1            24                5
19284   00001 2018-08-10  기타      1            20                6
21698   00001 2018-08-30  기타      1             9                7
23315   00001 2018-09-08  기타      1           118                8
36868   00001 2019-01-04  기타      1            19                9
37521   00001 2019-01-23  기타      1            37               10
39315   00001 2019-03-01  기타      1            11               11
40143   00001 2019-03-12  기타      1            10               12
40893   00001 2019-03-22  기타      1            26               13
44046   00001 2019-04-17  기타      1             1               14
44343   00001 2019-04-18  기타      1             8               15
45707   00001 2019-04-26  기타      1            16               16
49732   00001 2019-05-12  기타      1            27               17
58429   00001 2019-06-08  기타      1             5               18
60409   00001 2019-06-13  기타      1            13               19
64950   00001 2019-06-26  기타      1             6               20
67326   00001 2019-07-02  기타      1             7               21
70072   00001 2019-07-09  기타      1             8               22
72979   00001 2019-07-17  기타      1            23               23
79351   00001 2019-08-09  기타      1             6               24
80835   00001 2019-08-15  기타      1             3               25
81616   00001 2019-08-18  기타      1             2               26
82426   00001 2019-08-20  기타      1             6               27
84595   00001 2019-08-26  기타      1             8               28
88156   00001 2019-09-03  기타      1             3               29
88727   00001 2019-09-06  기타      1            12               30
91907   00001 2019-09-18  기타      1             6               31
94731   00001 2019-09-24  기타      1            10               32
99155   00001 2019-10-04  기타      1             1               33
99658   00001 2019-10-05  기타      1             6               34
101663  00001 2019-10-11  기타      1             3               35
103016  00001 2019-10-14  기타      1             5               36
104819  00001 2019-10-19  기타      1             2               37
105590  00001 2019-10-21  기타      1             5               38
107514  00001 2019-10-26  기타      1             1               39
107948  00001 2019-10-27  기타      1           127               40
123331  00001 2020-03-02  기타      1           605               41
315949  00001 2021-10-28  기타      1             0               42
12376   00001 2018-06-18  단말기     1            16                1
14358   00001 2018-07-04  단말기     1            30                2
18443   00001 2018-08-03  단말기     1            10                3
19600   00001 2018-08-13  단말기     1             2                4
19824   00001 2018-08-15  단말기     1             9                5
21232   00001 2018-08-24  단말기     1             6                6
21697   00001 2018-08-30  단말기     1             5                7
22351   00001 2018-09-04  단말기     1             6                8

In [76]:
#cols_break = ['자전거번호','고장구분']
#df_group은 각 고장별 누적합을 위한 dataframe
df_group = df_break.groupby(cols_break).max()
df_group.reset_index()

        자전거번호  고장구분       등록일시  총_고장  heetaek_diff  기간과_기관사이_총_고장횟수
0       00001   기타  2021-10-28     1           605               42
1       00001   단말기 2021-10-28     1           754               58
2       00001    안장 2019-10-05     1           165               14
3       00001    체인 2019-10-09     1           124               27
4       00001  타이어  2019-10-22     1            89               26
...       ...   ...        ...   ...           ...              ...
112277  83864   기타  2021-12-21     1             0                1
112278  83917   기타  2021-12-21     1             0                1
112279  84001   기타  2021-12-23     1             0                1
112280  84039   단말기 2021-11-24     1             0                1
112281  84149   기타  2021-12-21     1             0                1

[112282 rows x 6 columns]

In [77]:
df_group_test = df_group.reset_index()

In [78]:
df_group_test['고장구분'].unique()

array(['기타 ', '단말기', '안장', '체인', '타이어 ', '페달', '파손', '잠금장치 불량'],
      dtype=object)

In [79]:
df_group_test

        자전거번호  고장구분       등록일시  총_고장  heetaek_diff  기간과_기관사이_총_고장횟수
0       00001   기타  2021-10-28     1           605               42
1       00001   단말기 2021-10-28     1           754               58
2       00001    안장 2019-10-05     1           165               14
3       00001    체인 2019-10-09     1           124               27
4       00001  타이어  2019-10-22     1            89               26
...       ...   ...        ...   ...           ...              ...
112277  83864   기타  2021-12-21     1             0                1
112278  83917   기타  2021-12-21     1             0                1
112279  84001   기타  2021-12-23     1             0                1
112280  84039   단말기 2021-11-24     1             0                1
112281  84149   기타  2021-12-21     1             0                1

[112282 rows x 6 columns]

In [80]:
#df_group은 각 고장별 누적합을 위한 dataframe

df_group = df_group.reset_index()

In [81]:
df_merge = pd.merge(df_break,df_group, how = 'inner', on = (cols_break))

In [82]:
df_merge

,자전거번호,등록일시_x,고장구분,총_고장_x,heetaek_diff_x,기간과_기관사이_총_고장횟수_x,등록일시_y,총_고장_y,heetaek_diff_y,기간과_기관사이_총_고장횟수_y
0,00001,2018-06-18,기타,1,17,1,2021-10-28,1,605,42
1,00001,2018-07-05,기타,1,1,2,2021-10-28,1,605,42
2,00001,2018-07-06,기타,1,7,3,2021-10-28,1,605,42
3,00001,2018-07-13,기타,1,4,4,2021-10-28,1,605,42
4,00001,2018-07-17,기타,1,24,5,2021-10-28,1,605,42
...,...,...,...,...,...,...,...,...,...,...
217387,83864,2021-12-21,기타,1,0,1,2021-12-21,1,0,1
217388,83917,2021-12-21,기타,1,0,1,2021-12-21,1,0,1
217389,84001,2021-12-23,기타,1,0,1,2021-12-23,1,0,1
217390,84039,2021-11-24,단말기,1,0,1,2021-11-24,1,0,1
217391,84149,2021-12-21,기타,1,0,1,2021-12-21,1,0,1

In [83]:
df_merge = df_merge[['등록일시_x','자전거번호','고장구분','heetaek_diff_x','기간과_기관사이_총_고장횟수_y']]

In [84]:
df_merge.sample(50)

           등록일시_x  자전거번호  고장구분  heetaek_diff_x  기간과_기관사이_총_고장횟수_y
71918  2019-09-27  18186   단말기              31                  2
93223  2020-03-15  23717  타이어               10                  2
62771  2019-05-08  16406   단말기             229                  2
153546 2021-07-21  39161    안장               0                  2
185673 2021-04-26  46788  타이어              121                  3
104822 2021-06-21  30763    안장              37                  9
95673  2020-05-27  24280  타이어                0                  1
33370  2019-10-21  09540   기타              201                  2
153649 2021-09-08  39185  타이어                0                  1
143388 2020-09-21  36802   기타              175                  3
199407 2021-10-02  51565   단말기               0                  1
214258 2021-11-02  55579    페달               0                  1
122746 2021-09-26  33032   기타               24                  3
209344 2021-09-10  54039   기타              104                  2
40034  2019-08-21  11369    체인               0                  2
150234 2021-07-18  38407   기타               64                  2
67668  2019-06-12  17397    페달              19                  2
211518 2021-06-22  54647   기타               88                  3
116720 2020-07-16  32301  타이어                0                  1
55480  2019-03-31  15032   단말기              17                  3
843    2019-09-23  00010   기타                6                 15
61089  2019-09-29  16054  타이어                0                  2
145315 2021-01-06  37267    안장             113                  5
159646 2020-11-17  40504    페달               0                  1
139620 2020-09-17  35933    체인             206                  4
90358  2019-09-01  23013  타이어                0                  1
142296 2021-07-16  36533    체인              13                  3
116987 2021-04-23  32331  타이어               47                  3
82798  2020-04-10  21100   단말기               0                  4
87353  2019-10-27  22220    체인               0                  2
51732  2019-07-29  14237  타이어                0                  1
107670 2021-05-10  31153    체인               5                  5
116030 2020-07-26  32220    체인               5                  5
203838 2021-08-26  52670   기타                0                  2
87719  2020-03-27  22311   단말기              82                  2
107752 2021-09-28  31160    체인               8                  6
50796  2019-10-28  14042    체인               0                  4
154235 2021-06-21  39304   기타              129                  2
108566 2020-10-08  31277    체인             293                  2
23195  2018-07-29  06947    체인              23                  5
131626 2021-06-20  34192    페달               0                  1
121769 2021-07-06  32915   기타               67                  2
46149  2020-06-17  13013   기타                0                  2
153699 2021-11-05  39194    안장               0                  1
71450  2019-08-23  18102   기타                0                  5
59962  2019-06-10  15861    안장               0                  1
74590  2020-06-29  18723   기타                0                  1
137738 2021-08-18  35486  타이어               64                  3
196278 2021-05-22  50719   기타                0                  1
108799 2021-08-05  31305   기타                0                  6

In [85]:

df_merge = df_merge.rename(columns={'등록일시_x':'등록일시'})
df_merge = df_merge.rename(columns={'heetaek_diff_x':'날짜차이'})
df_merge = df_merge.rename(columns={'기간과_기관사이_총_고장횟수_y':'기간과_기관사이_총_고장횟수'})

In [86]:
group_col =  ['자전거번호','등록일시','고장구분']
df_group = df_break.groupby(group_col).max()
df_group.reset_index()

        자전거번호       등록일시  고장구분  총_고장  heetaek_diff  기간과_기관사이_총_고장횟수
0       00001 2018-06-18   기타      1            17                1
1       00001 2018-06-18   단말기     1            16                1
2       00001 2018-06-18    페달     1             5                1
3       00001 2018-06-22  타이어      1             6                1
4       00001 2018-06-23    페달     1            21                2
...       ...        ...   ...   ...           ...              ...
217387  83864 2021-12-21   기타      1             0                1
217388  83917 2021-12-21   기타      1             0                1
217389  84001 2021-12-23   기타      1             0                1
217390  84039 2021-11-24   단말기     1             0                1
217391  84149 2021-12-21   기타      1             0                1

[217392 rows x 6 columns]

In [87]:
df_merge.head(50)

         등록일시  자전거번호 고장구분  날짜차이  기간과_기관사이_총_고장횟수
0  2018-06-18  00001  기타     17               42
1  2018-07-05  00001  기타      1               42
2  2018-07-06  00001  기타      7               42
3  2018-07-13  00001  기타      4               42
4  2018-07-17  00001  기타     24               42
5  2018-08-10  00001  기타     20               42
6  2018-08-30  00001  기타      9               42
7  2018-09-08  00001  기타    118               42
8  2019-01-04  00001  기타     19               42
9  2019-01-23  00001  기타     37               42
10 2019-03-01  00001  기타     11               42
11 2019-03-12  00001  기타     10               42
12 2019-03-22  00001  기타     26               42
13 2019-04-17  00001  기타      1               42
14 2019-04-18  00001  기타      8               42
15 2019-04-26  00001  기타     16               42
16 2019-05-12  00001  기타     27               42
17 2019-06-08  00001  기타      5               42
18 2019-06-13  00001  기타     13               42
19 2019-06-26  00001  기타      6               42
20 2019-07-02  00001  기타      7               42
21 2019-07-09  00001  기타      8               42
22 2019-07-17  00001  기타     23               42
23 2019-08-09  00001  기타      6               42
24 2019-08-15  00001  기타      3               42
25 2019-08-18  00001  기타      2               42
26 2019-08-20  00001  기타      6               42
27 2019-08-26  00001  기타      8               42
28 2019-09-03  00001  기타      3               42
29 2019-09-06  00001  기타     12               42
30 2019-09-18  00001  기타      6               42
31 2019-09-24  00001  기타     10               42
32 2019-10-04  00001  기타      1               42
33 2019-10-05  00001  기타      6               42
34 2019-10-11  00001  기타      3               42
35 2019-10-14  00001  기타      5               42
36 2019-10-19  00001  기타      2               42
37 2019-10-21  00001  기타      5               42
38 2019-10-26  00001  기타      1               42
39 2019-10-27  00001  기타    127               42
40 2020-03-02  00001  기타    605               42
41 2021-10-28  00001  기타      0               42
42 2018-06-18  00001  단말기    16               58
43 2018-07-04  00001  단말기    30               58
44 2018-08-03  00001  단말기    10               58
45 2018-08-13  00001  단말기     2               58
46 2018-08-15  00001  단말기     9               58
47 2018-08-24  00001  단말기     6               58
48 2018-08-30  00001  단말기     5               58
49 2018-09-04  00001  단말기     6               58

In [88]:
#df_break.to_csv("df_break2.csv", mode='w',encoding='euc-kr')

df_merge = df_merge.rename(columns={'기간과_기관사이_총_고장횟수':'고장구분별_고장횟수'})

In [89]:
df_refined = pd.read_csv('df_refined2.csv', encoding = 'cp949', low_memory = False)

In [90]:
df_refined

           자전거번호        등록일시       등록일시2  고장구분   총이용시간      총이용거리
0      SPB-40402  2021-01-01  2021-07-13   기타   5972.0  711506.91
1      SPB-32280  2021-01-01  2021-08-12    체인  3236.0  425409.52
2      SPB-34462  2021-01-02  2021-06-10   기타   8221.0  956419.86
3      SPB-35692  2021-01-02  2021-05-19   단말기  3503.0  439067.44
4      SPB-53177  2021-01-02  2021-05-11    체인  1250.0  109193.77
...          ...         ...         ...   ...     ...        ...
32285  SPB-54238  2021-12-28  2021-12-30   기타    125.0   11390.00
32286  SPB-33841  2021-12-28  2021-12-29    체인     6.0      88.17
32287  SPB-48213  2021-12-28  2021-12-30    안장   144.0   12570.00
32288  SPB-37000  2021-12-28  2021-12-30  타이어      2.0     141.90
32289  SPB-39284  2021-12-29  2021-12-30    안장    50.0    2779.95

[32290 rows x 6 columns]

In [91]:
df_refined['자전거번호'] = df_refined['자전거번호'].str.split('-').str[1]

In [92]:
condition_list = ['자전거번호','등록일시','등록일시2','고장구분']

In [93]:
df_refined_reset = df_refined.groupby(condition_list).sum()

In [94]:
df_refined_reset = df_refined_reset.reset_index()
df_refined_reset

       자전거번호        등록일시       등록일시2  고장구분   총이용시간       총이용거리
0      23825  2021-04-29  2021-05-06   단말기    61.0     8750.00
1      30001  2021-08-24  2021-10-09  타이어   3206.0   353917.70
2      30001  2021-09-14  2021-11-17    체인  4382.0   462030.56
3      30008  2021-04-29  2021-06-13    체인  9402.0  1160233.26
4      30008  2021-05-18  2021-06-16   기타    712.0    83736.18
...      ...         ...         ...   ...     ...         ...
26716  81837  2021-07-23  2021-09-20   기타   2005.0   205930.00
26717  81918  2021-07-22  2021-08-08   기타    560.0    68230.00
26718  81981  2021-08-24  2021-09-15   기타   3812.0   213520.00
26719  81988  2021-08-10  2021-09-12   단말기  1868.0   182920.00
26720  81988  2021-08-24  2021-10-29  타이어   5674.0   328420.00

[26721 rows x 6 columns]

In [95]:
df_refined_reset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26721 entries, 0 to 26720
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   자전거번호   26721 non-null  object
 1   등록일시    26721 non-null  object
 2   등록일시2   26721 non-null  object
 3   고장구분    26721 non-null  object
 4   총이용시간   26721 non-null  float64
 5   총이용거리   26721 non-null  float64
dtypes: float64(2), object(4)
memory usage: 1.2+ MB

In [96]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 217392 entries, 0 to 217391
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   등록일시        217392 non-null  datetime64[ns]
 1   자전거번호       217392 non-null  object
 2   고장구분        217392 non-null  object
 3   날짜차이        217392 non-null  int64
 4   고장구분별_고장횟수  217392 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 10.0+ MB

In [97]:
df_refined_reset['등록일시'] = pd.to_datetime(df_refined_reset['등록일시'], format="%Y/%m/%d")

In [98]:
cols2 = ['자전거번호','등록일시','고장구분']

In [109]:
df_final = pd.merge(df_refined_reset,df_merge, how = 'inner', on = cols2)

In [110]:
df_final.head(50)

    자전거번호       등록일시       등록일시2  고장구분    총이용시간       총이용거리  날짜차이  고장구분별_고장횟수
0   23825 2021-04-29  2021-05-06   단말기     61.0     8750.00     7           3
1   30001 2021-08-24  2021-10-09  타이어    3206.0   353917.70    46           3
2   30001 2021-09-14  2021-11-17    체인   4382.0   462030.56    64           2
3   30008 2021-04-29  2021-06-13    체인   9402.0  1160233.26    45           9
4   30008 2021-05-18  2021-06-16   기타     712.0    83736.18    29           8
5   30008 2021-06-13  2021-07-14    체인   2922.0   325563.42    31           9
6   30008 2021-06-16  2021-07-21   기타    2248.0   254247.74    35           8
7   30008 2021-07-14  2021-07-28    체인   1528.0   154152.72    14           9
8   30008 2021-07-21  2021-08-04   기타    1076.0   122762.64    14           8
9   30008 2021-07-28  2021-08-04    체인   1076.0   122762.64     7           9
10  30008 2021-08-04  2021-09-25    체인  12812.0  1579691.48    52           9
11  30008 2021-08-04  2021-11-04   기타    3262.0   327589.88    92           8
12  30008 2021-09-25  2021-10-02    체인   4204.0   498994.24     7           9
13  30008 2021-10-02  2021-10-19    체인   1110.0   165606.04    17           9
14  30008 2021-10-19  2021-11-04    체인   3262.0   327589.88    16           9
15  30009 2021-02-23  2021-05-10    안장   1860.0   112351.15    76           3
16  30009 2021-04-25  2021-05-10   기타    1860.0   112351.15    15           5
17  30009 2021-05-10  2021-05-15    안장    525.0    44763.58     5           3
18  30009 2021-05-10  2021-05-31   기타    1112.0   115949.07    21           5
19  30009 2021-05-15  2021-08-30    페달   9919.0  1101922.90   107           2
20  30018 2021-01-29  2021-08-30    페달   1296.0   196693.24   213           8
21  30018 2021-01-29  2021-09-27    안장   3158.0   333931.54   241           5
22  30018 2021-04-08  2021-04-15    체인   1706.0   238454.04     7           5
23  30018 2021-04-15  2021-04-20    체인    564.0    94069.80     5           5
24  30018 2021-04-20  2021-04-21    체인     60.0    15910.88     1           5
25  30018 2021-04-21  2021-09-27    체인   3158.0   333931.54   159           5
26  30018 2021-08-18  2021-09-03   기타    1196.0   160942.80    16           2
27  30018 2021-08-30  2021-09-27    페달   3158.0   333931.54    28           8
28  30018 2021-09-27  2021-11-02    페달   5330.0   607894.92    36           8
29  30018 2021-09-27  2021-11-20    안장   3102.0   208129.14    54           5
30  30018 2021-11-02  2021-11-20    페달   3102.0   208129.14    18           8
31  30018 2021-11-20  2021-12-09    안장   1206.0   153416.40    19           5
32  30018 2021-11-20  2021-12-09    페달   1206.0   153416.40    19           8
33  30026 2021-04-09  2021-04-10    안장     67.0      350.27     1           9
34  30026 2021-04-10  2021-04-11    안장    147.0    19309.85     1           9
35  30026 2021-04-11  2021-04-16    안장    645.0    44963.16     5           9
36  30026 2021-04-16  2021-04-24    안장    431.0    43531.87     8           9
37  30026 2021-04-24  2021-08-07    안장  14759.0  1927892.79   105           9
38  30026 2021-08-07  2021-10-03    안장  10207.0  1125242.68    57           9
39  30036 2021-04-04  2021-12-26   기타    2228.0    71692.86   266           3
40  30041 2021-08-10  2021-09-14    안장   5140.0   622847.62    35           3
41  30068 2021-07-06  2021-09-10   기타    8686.0  1099917.12    66           5
42  30068 2021-09-10  2021-10-20   기타    4204.0   513496.67    40           5
43  30071 2021-07-09  2021-07-13   기타      93.0    20384.14     4           3
44  30071 2021-07-13  2021-07-16   기타     185.0    19099.28     3           3
45  30071 2021-09-24  2021-10-23    안장   4182.0   460245.12    29           2
46  30074 2021-04-08  2021-04-22    체인    474.0    56375.12    14           6
47  30074 2021-04-20  2021-05-12   기타    3468.0   413224.38    22           2
48  30074 2021-04-22  2021-04-26    체인   1432.0   140096.04     4           6
49  30074 2021-04-26  2021-11-08    체인  36470.0  3793351.80   196           6

In [111]:
df_final.tail(50)

       자전거번호       등록일시       등록일시2  고장구분   총이용시간     총이용거리  날짜차이  고장구분별_고장횟수
20521  56435 2021-11-07  2021-12-03    안장  1262.0   45920.0    26           2
20522  56479 2021-11-25  2021-12-01    안장    19.0    3510.0     6           4
20523  56479 2021-12-01  2021-12-30    안장  1858.0  216930.0    29           4
20524  56496 2021-12-15  2021-12-21  타이어     11.0     940.0     6           2
20525  56498 2021-12-10  2021-12-13    안장    36.0    6450.0     3           2
20526  57669 2021-11-06  2021-12-06   기타    237.0   40140.0    30           2
20527  57687 2021-11-17  2021-12-07    안장   498.0   75470.0    20           3
20528  57756 2021-11-20  2021-12-05   기타    592.0   76380.0    15           2
20529  57796 2021-11-23  2021-12-03    체인   199.0   23980.0    10           5
20530  57796 2021-12-03  2021-12-23    체인  2544.0  328240.0    20           5
20531  58106 2021-12-13  2021-12-14   기타     78.0   11150.0     1           2
20532  58317 2021-12-06  2021-12-23   기타   1101.0  142520.0    17           2
20533  58460 2021-12-12  2021-12-13    페달   108.0   11240.0     1           2
20534  58792 2021-12-18  2021-12-20   기타     95.0    3960.0     2           3
20535  58792 2021-12-20  2021-12-21   기타     50.0    3420.0     1           3
20536  80092 2021-10-03  2021-10-25   기타    209.0   34330.0    22           3
20537  80092 2021-10-25  2021-12-29   기타    175.0   15720.0    65           3
20538  80122 2021-11-02  2021-11-22  타이어    349.0   34510.0    20           2
20539  80162 2021-07-31  2021-10-28   기타   1863.0  181500.0    89           2
20540  80212 2021-08-22  2021-12-02   기타   1896.0  195740.0   102           2
20541  80286 2021-10-12  2021-10-19   기타     14.0    1780.0     7           3
20542  80311 2021-08-07  2021-08-26   기타    258.0   37240.0    19           2
20543  80375 2021-04-25  2021-04-30    페달    28.0    2540.0     5           2
20544  80376 2021-09-25  2021-09-28   기타     28.0    2280.0     3           2
20545  80381 2021-12-10  2021-12-23   기타     87.0   10370.0    13           2
20546  80462 2021-06-07  2021-06-20   기타   3008.0  335560.0    13           2
20547  80546 2021-07-18  2021-08-20    체인   574.0   63360.0    33           2
20548  80612 2021-08-10  2021-11-12   단말기  2663.0  240460.0    94           2
20549  80736 2021-09-09  2021-12-30  타이어   3632.0  391930.0   112           2
20550  80779 2021-06-08  2021-06-22   기타    313.0   20930.0    14           2
20551  80903 2021-07-08  2021-09-29   기타   3987.0    1700.0    83           2
20552  80954 2021-09-22  2021-09-24  타이어     27.0    2940.0     2           2
20553  80975 2021-07-28  2021-12-13   기타   3064.0  294950.0   138           2
20554  80991 2021-11-03  2021-11-25  타이어    429.0   42910.0    22           2
20555  81018 2021-07-07  2021-08-10   기타    103.0   14030.0    34           2
20556  81018 2021-09-02  2021-09-13    체인   765.0   68940.0    11           2
20557  81043 2021-07-24  2021-09-13   단말기  7144.0  733520.0    51           2
20558  81174 2021-11-03  2021-11-26  타이어    209.0   24840.0    23           2
20559  81312 2021-07-18  2021-09-26    체인  1167.0  110170.0    70           2
20560  81333 2021-07-07  2021-10-28   기타     44.0    5500.0   113           2
20561  81348 2021-05-10  2021-05-17   단말기   216.0   22330.0     7           2
20562  81447 2021-10-15  2021-10-30  타이어    212.0   25210.0    15           3
20563  81447 2021-10-30  2021-11-18  타이어    267.0   24140.0    19           3
20564  81507 2021-07-01  2021-07-31   기타   1256.0   84380.0    30           2
20565  81532 2021-10-24  2021-12-12   기타    782.0   73470.0    49           2
20566  81827 2021-09-19  2021-09-22  타이어     38.0    3430.0     3           2
20567  81831 2021-09-08  2021-09-26  타이어   1637.0  142940.0    18           2
20568  81837 2021-07-23  2021-09-20   기타   2005.0  205930.0    59           3
20569  81918 2021-07-22  2021-08-08   기타    560.0   68230.0    17           2
20570  81981 2021-08-24  2021-09-15   기타   3812.0  213520.0    22           2

#

In [112]:
df_final

,자전거번호,등록일시,등록일시2,고장구분,총이용시간,총이용거리,날짜차이,고장구분별_고장횟수
0,23825,2021-04-29,2021-05-06,단말기,61.0,8750.00,7,3
1,30001,2021-08-24,2021-10-09,타이어,3206.0,353917.70,46,3
2,30001,2021-09-14,2021-11-17,체인,4382.0,462030.56,64,2
3,30008,2021-04-29,2021-06-13,체인,9402.0,1160233.26,45,9
4,30008,2021-05-18,2021-06-16,기타,712.0,83736.18,29,8
...,...,...,...,...,...,...,...,...
20566,81827,2021-09-19,2021-09-22,타이어,38.0,3430.00,3,2
20567,81831,2021-09-08,2021-09-26,타이어,1637.0,142940.00,18,2
20568,81837,2021-07-23,2021-09-20,기타,2005.0,205930.00,59,3
20569,81918,2021-07-22,2021-08-08,기타,560.0,68230.00,17,2
20570,81981,2021-08-24,2021-09-15,기타,3812.0,213520.00,22,2

In [113]:
df_final.isnull().sum()

자전거번호         0
등록일시          0
등록일시2         0
고장구분          0
총이용시간         0
총이용거리         0
날짜차이          0
고장구분별_고장횟수    0
dtype: int64